<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>고래방 가르치기</title>
    
        <!-- Vendor CSS -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/lightgallery/light-gallery/css/lightGallery.css" rel="stylesheet">
        <link href="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">        
            
        <!-- CSS -->
        <link href="/css/app.min.1.css" rel="stylesheet">
        <link href="/css/app.min.2.css" rel="stylesheet">
    </head>
    
    <body>
        <style>
            .loginCard{
                position: fixed;
                width: 100%;
                color: #fff;
                font-size: 17px;
                line-height: 0.5;
                font-weight: bold;
            }
            
            @media screen and (max-width: 768px){
                #l-start-left{
                    margin-top: 20% !important;
                    margin-bottom: 0px !important;
                }
                .btn-getStart{
                    margin-bottom: 700px !important;
                    width: 100% !important;
                }
                #l-start{
                    width: 85% !important;
                    background: none !important;
                    box-shadow: none;
                }
            }
            @media screen and (min-width: 768px){
                #l-start{
                    width: inherit !important;
                }
            }
            .btn-getStart{
                top: 10% !important;
                right: 0px !important;
                /*position: absolute !important;*/
                width: 250px;
                height: 65px;
                border-radius: 0;
                line-height: 50px !important;
                font-size: 25px;
                font-weight: bold;
            }
            
            .card-body > p {
                margin: 0px;
            }
            .center{
                text-align: center;
            }
            .hr{
                text-align: center;
            }
            .title{
                font-weight: bold;
                margin-bottom: 3px !important;
            }
            .highlight{
                background: #00bcd4;
                color: #fff;
                font-weight: bold;
            }
            .bolder{
                font-weight: bold;
            }
            #count-wrapper{
                float:right;
                margin-right: 40px;
                font-size: 13px;
                margin-top: 10px;
            }
            .refresh_icon{
                float: right;
                right: 10px;
                position: absolute;
                top: 25px;
            }
            
            .infoCard-super{
                /*box-shadow: 1px 1px 2px #777;*/
                /*border: 1px solid rgba(119, 119, 119, 0.21);*/
                border-radius: 3px;
            }
            .infoCard-imgcover{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.15);
                top:0;
            }
            .infoCard-wrapper{
                width: 100%;
                height: 60px;
                margin-top: -60px;
                z-index: 100;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            .infoCard-content{
                position: absolute;
                /*background-color: #fff;*/
                width: 100%;
                height: 60px;
                z-index: 101;
                border-bottom-left-radius: 1px;
                border-bottom-right-radius: 2px;
                right: 0px;
                left: 0px;
            }
            .infoCard-content2{
                background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
                color: #fff;
                padding: 10px 4px 5px;
                width: 100%;
                height: 60px;
            }
            
            .infoCard-span{
                
            }
            .infoCard-content-title{
                /*font-size: 14px;*/
                font-weight: bolder;
            }
            .infoCard-content-artist{
                margin-top: 3px;
                font-size: 14px;
            }
            @media screen and (max-width: 768px){
                /*.infoCard-content{*/
                /*    width:;*/
                /*}*/
                .card-header{
                    line-height: 1.1 !important;
                }
            }
            
            
            .lightbox .lightbox-item > .img {
                width: 100%;
                border-radius: 2px;
                background-color: #000;
            }
            .img {
                vertical-align: middle;
                border: 0;
            }
            .selectBtn{
                float: right;
                right: 10px;
                position: absolute;
                top: 17px;
                width: 30px;
                height: 30px;
                line-height: 35px !important;
            }
            .selectBtn > .zmdi{
                font-size: 17px;
            }
        </style>
        <script>
            function refresh(page){
                var btn = $("#refreshBtn");
                var nextPage = page + 1;
                console.log('current : ' + page + ', nextPage : ' + nextPage);
                location.reload();
            };
            
            $(document).ready(function(){
                $(".searchBtn").click(function(){
                    console.log("searchBtn!");
                    $(".lvh-search").fadeToggle(250);
                });
                
                $(".lvhs-input").keypress(function(event){
                    var words = $(this).val();
                    console.log(words);
                    
                    ajax_search(words);
                });
            });
            
            function select(id){
                var btn = $("#selectBtn_" + id);
                console.log("selected : " + id);
                //id_collect(id);
                ajax_push(id);
                btn.attr("onclick","");
                btn.attr("onclick","cancel("+ id +")");
                btn.attr("style","background: #2196F3 !important;");
            };
            
            function cancel(id){
                var btn = $("#selectBtn_" + id);
                console.log("selected : " + id);
                ajax_delete(id);
                btn.attr("onclick","");
                btn.attr("onclick","select("+ id +")");
                btn.attr("style","background: #fff;");
            };
            
            function goSearch(px){
                $( 'html, body' ).animate( { scrollTop : px }, 400 );
            };
            
            function load_more(page){
                var btn = $("#loadMoreBtn");
                
                $.ajax({
                    method: "GET",
                    url: "/we/admin2/next_page",
                    data: { page: page }
                })
                .done(function( songs ) {
                    console.log( "Data loaded: " + songs );
                    var cards  = "";
                    
                    if (songs != null) {
                        $.each(songs, function(index, song) {
                            var anchor = "";
                            var jacket = "";
                            var a_card = "";
                            
                            // lowkey true: tag my favorite;
                            if (song.lowkey == "true") {
                                anchor = '<a style="z-index: 10000; background: #2196F3 !important;" onclick="cancel(' + song.id + ')" id="selectBtn_' + song.id + '" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>'
                            } else {
                                anchor = '<a style="z-index: 10000;" onclick="select(' + song.id + ')" id="selectBtn_' + song.id + '" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>'
                            };
                            
                            // highkey true: check jacket img;
                            if (song.highkey == "false") {
                                jacket = "https://scontent.xx.fbcdn.net/v/t1.0-9/15095721_1099306143519780_6966671705149925303_n.jpg?oh=d69e37d5e799c027f0d10ac0405ba314&oe=58C6FE81"
                            } else {
                                jacket = song.jacket
                            };
                            
                            a_card = ('<div data-src="' + jacket + '" class="col-md-2 col-sm-4 col-xs-6" style="border: 3px solid #fff; margin: 0px; padding: 0px;">'
                                        + '<div class="lightbox-item p-item" style="width: 100%;">'
                                            + '<img src="' + jacket + '" alt="' + song.title + '" />'
                                            + '<div class="infoCard-imgcover"></div>'
                                            + '<div class="infoCard-wrapper">'
                                                + '<div class="infoCard-content">'
                                                    + '<div class="infoCard-content2">'
                                                        + '<span class="infoCard-span infoCard-content-title">' + song.title + '</span><br>'
                                                        + '<span class="infoCard-span infoCard-content-artist">' + song.artist_name + '</span>'
                                                        + anchor
                                                    + '</div>'
                                                + '</div>'
                                            + '</div>'
                                        + '</div>'
                                    + '</div>');
                            cards = cards + a_card;
                        }); // 반복문 종료
                        var place = $("#page_place");
                        cards = cards + '<div id="page_place"></div>';
                        place.attr("id",'#page_place_before');
                        place.html(cards);
                    } else {
                        btn.hide();
                        $("#goSearchFormBtn").show();
                    };
                    
                }); // ajax 종료
                
                page = page + 1;
                btn.attr("onclick",'')
                btn.attr("onclick", "load_more("+ page +")" );
            }
            
            function ajax_push(id){     // 체크한 id들을 모아 전송.(마이리스트에 곡 추가)
                // $.ajax()
                $.ajax({
                    method: "GET",
                    url: "/we/admin2/get_ids",
                    data: { id: id }
                })
                .done(function( count ) {
                    console.log( "Data Saved: " + count );
                    $("span#count").empty();
                    $("span#count").append(count);
                });
            }
            
            function ajax_delete(id){    // 마이리스트에서 곡 삭제
                // $.ajax()
                $.ajax({
                    method: "DELETE",
                    url: "/we/admin2/get_ids",
                    data: { id: id }
                })
                .done(function( count ) {
                    console.log( "Data Deleted: " + count );
                    $("span#count").empty();
                    $("span#count").append(count);
                });
            }
            
            function ajax_search(query){
                $.ajax({
                    method: "GET",
                    url: "/we/admin2/searching",
                    data: { query: query }
                })
                .done(function( songs ) {
                    console.log( "Data Searched: " + songs );
                    if (songs != null) {
                        $(".photos").empty();
                        $.each(songs, function(index, song) {
                            var anchor = "";
                            var jacket = "";
                            var a_card = "";
                            
                            // lowkey true: tag my favorite;
                            if (song.lowkey == "true") {
                                anchor = '<a style="z-index: 10000; background: #2196F3 !important;" onclick="cancel(' + song.id + ')" id="selectBtn_' + song.id + '" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>'
                            } else {
                                anchor = '<a style="z-index: 10000;" onclick="select(' + song.id + ')" id="selectBtn_' + song.id + '" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>'
                            };
                            
                            // highkey true: check jacket img;
                            if (song.highkey == "false") {
                                jacket = "https://scontent.xx.fbcdn.net/v/t1.0-9/15095721_1099306143519780_6966671705149925303_n.jpg?oh=d69e37d5e799c027f0d10ac0405ba314&oe=58C6FE81"
                            } else {
                                jacket = song.jacket
                            };
                            
                            a_card = ('<div data-src="' + jacket + '" class="col-md-2 col-sm-4 col-xs-6" style="border: 3px solid #fff; margin: 0px; padding: 0px;">'
                                        + '<div class="lightbox-item p-item" style="width: 100%;">'
                                            + '<img src="' + jacket + '" alt="' + song.title + '" />'
                                            + '<div class="infoCard-imgcover"></div>'
                                            + '<div class="infoCard-wrapper">'
                                                + '<div class="infoCard-content">'
                                                    + '<div class="infoCard-content2">'
                                                        + '<span class="infoCard-span infoCard-content-title">' + song.title + '</span><br>'
                                                        + '<span class="infoCard-span infoCard-content-artist">' + song.artist_name + '</span>'
                                                        + anchor
                                                    + '</div>'
                                                + '</div>'
                                            + '</div>'
                                        + '</div>'
                                    + '</div>');
                            $(".photos").html(a_card);
                        });
                    } else {
                        console.log("Result is Null")
                    };
                });
            }
        </script>
        <div class="card loginCard" style="z-index: 1001 !important;">
            <div class="card-header bgm-red" style="/*background-color: #2196f3;*/">고래방 가르치기 <%#= @current_user.my_songs.map{|s| s.title.first(3)} %> <%#= @current_user.my_songs.count %>
                <a onclick="refresh(1)" id="refreshBtn" class="btn btn-default btn-icon waves-effect waves-circle waves-float refresh_icon" style=""><i class="zmdi zmdi-refresh"></i></a>
                <span id="count-wrapper">현재까지 <span id="count"><%= @count %></span>개 했어요!</span>
            </div>
            <div class="card-body"></div>
        </div>
        <input id="ids_bucket" type="hidden" value="" count="0">
        <section id="main">
            <section id="content">
                <div class="container">
                    <div class="block-header">
                         <h2>당신의 취향을 알려주세요! <small>노래방에서 종종 불러본 노래를 찾아 초록색 버튼을 눌러주세요~**</small></h2>
                    </div>
                 
                    <div class="card">
                        <div class="lv-header-alt clearfix">
                            <h2 class="lvh-label hidden-xs">찾는 노래가 있나요? 오른쪽 검색 아이콘을 눌러주세요!</h2>
                            
                            <div class="lvh-search">
                                <input type="text" placeholder="Start typing..." class="lvhs-input" style="border: 1px solid #4caf50;">
                                <i class="lvh-search-close searchBtn">&times;</i>
                            </div>
                            
                            <ul class="lv-actions actions">
                                <li>
                                    <a style="cursor:pointer" class="lvh-search-trigger searchBtn">
                                        <i class="zmdi zmdi-search"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                 
                        <div class="card-body card-padding">
                            <div class="lightbox photos">
                                <% @songs.each do |song| %>
                                    <%
                                        if song.checkJacket == false
                                            jacket = $noReadyJacket_600
                                        else
                                            jacket = song.jacket
                                        end
                                    %>
                                    <div data-src="<%= jacket %>" class="col-md-2 col-sm-4 col-xs-6" style="border: 3px solid #fff; margin: 0px; padding: 0px;">
                                        <div class="lightbox-item p-item" style="width: 100%;">
                                            <img src="<%= jacket %>" alt="<%= song.title %>" />
                                            <div class="infoCard-imgcover"></div>
                                            <div class="infoCard-wrapper">
                                                <div class="infoCard-content">
                                                    <div class="infoCard-content2">
                                                        <span class="infoCard-span infoCard-content-title"><%= song.title.truncate(11) %></span><br>
                                                        <span class="infoCard-span infoCard-content-artist"><%= song.artist_name.truncate(15) %></span>
                                                        <% if song.lowkey == "true" %>
                                                            <a style="z-index: 10000; background: #2196F3 !important;" onclick="cancel(<%= song.id %>)" id="selectBtn_<%= song.id %>" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>
                                                        <% else %>
                                                            <a style="z-index: 10000;" onclick="select(<%= song.id %>)" id="selectBtn_<%= song.id %>" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                                <div id="page_place"></div>
                                <!--<div 설명="원래 템플릿의 이미지 코드들">-->
                                <!--    <div data-src="/media/gallery/5.jpg" class="col-md-2 col-sm-4 col-xs-6" style="border: 3px solid #fff; margin: 0px; padding: 0px;">-->
                                <!--        <div class="lightbox-item p-item" style="width: 100%;">-->
                                <!--            <img src="/media/gallery/thumbs/5.jpg" alt="" />-->
                                <!--        </div>-->
                                <!--    </div>-->
                                <!--    <div data-src="/media/gallery/2.jpg" class="col-md-2 col-sm-4 col-xs-6">-->
                                <!--        <div class="lightbox-item p-item">-->
                                <!--            <img src="/media/gallery/thumbs/2.jpg" alt="" />-->
                                <!--        </div>-->
                                <!--    </div>-->
                                <!--</div>-->
                                
                             </div>
                 
                             <div class="clearfix"></div>
                 
                             <div class="load-more m-t-30">
                                 <a onclick="load_more(2)" id="loadMoreBtn" style="cursor: pointer;"><i class="zmdi zmdi-refresh-alt"></i> Load More...</a>
                             </div>
                             <div class="load-more m-t-30" id="goSearchFormBtn" style="display: none;">
                                 <a onclick="goSearch(0)" style="cursor: pointer; background: #2196F3;">위로 올라가기 (검색을 이용해 주세요!)</a>
                             </div>
                         </div>
                     </div>
                 </div>
                    
            </section>
        </section>
        
        <%= render partial: 'admin2/feature_layouts/footer' %>

        <!-- Page Loader -->
        <div class="page-loader">
            <div class="preloader pls-blue">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20" />
                </svg>

                <p>Please wait...</p>
            </div>
        </div>

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="/images/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="/images/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="/images/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="/images/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="/images/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->
    
    
        <!-- Javascript Libraries -->
        <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
                <script src="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
        <!--<script src="/vendors/bower_components/lightgallery/light-gallery/js/lightGallery.min.js"></script>-->
        
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
        
        <script src="/js/functions.js"></script>
        <script src="/js/demo.js"></script>
    
    
    </body>
</html>
