<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>고래방 가르치기</title>
        
        <meta property="og:url" content="http://join.goraebang.co.kr/start">
        <meta property="og:title" content="고래방 가르치기">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://join.goraebang.co.kr/images/logo_ver3.png">
        <meta property="og:description" content="당신의 노래 취향을 알려주세요!">
        <meta name="description" content="당신의 애창곡을 알려주세요!">
        <meta name="keywords" content="노래방,karaoke,음악,노래,취향,추천,고래방,고래,플랫폼">
        
        <!-- Vendor CSS -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/lightgallery/light-gallery/css/lightGallery.css" rel="stylesheet">
        <link href="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">        
            
        <!-- CSS -->
        <link href="/css/app.min.1.css" rel="stylesheet">
        <link href="/css/app.min.2.css" rel="stylesheet">
    </head>
    
    <body>
        <!--모달 감싸는놈-->
        <!--<div class="modal_wrapper" style="z-index: 10001;">-->
            <!--모달 주변 배경-->
        <!--    <div class="modal_background"></div>-->
            <!--모달 본문-->
        <!--    <div class="modal_content" style="z-index: 10002;"></div>-->
        <!--</div>-->
        <div class="modal fade" id="modalNarrower" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">갯수별 맞춤형 메세지</h4>
                    </div>
                    <div class="modal-body">
                        <div class="sweet-alert showSweetAlert visible" style="display: block;">
                            <div class="icon success animate">
                                <span class="line tip animateSuccessTip"></span>
                                <span class="line long animateSuccessLong"></span>
                                <div class="placeholder"></div>
                                <div class="fix"></div>
                            </div>
                        </div>
                        <p style="text-align: center; margin-bottom: 5px;">
                            <span class="count strong"><%= @count %></span> <span class="strong">곡</span>을 알려주셨어요!<br>
                            괜찮으시다면 <span class="strong hangeul">네 곡</span>만 더 알려주세요!
                        </p>
                    </div>
                    <div class="modal-footer"><!---->
                        <a href="/end" class="btn waves-effect btn-warning">그만할께요</a>
                        <a onclick="modal_hide(1)" class="btn waves-effect btn-success">더 선택하기</a>
                    </div>
                </div>
            </div>
        </div>
        <!--모달 css-->
        <style>
            html{
                height: 100%;
            }
            body{
                min-height: 100%;
            }
            .fade{
                background: rgba(0, 0, 0, 0.45);
            }
            /*.in{*/
            /*    display: block !important;*/
            /*}*/
            .modal_wrapper{
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .modal_background{
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.45);
            }
            .modal-dialog{
                margin: 37% 10px;
            }
            .sweet-alert{
                position: initial;
                margin-top: initial;
            }
            .sweet-alert .icon{
                margin: 0px auto 15px;
            }
        </style>
        <style>
            .loginCard{
                position: fixed;
                width: 100%;
                color: #fff;
                font-size: 17px;
                line-height: 0.5;
                font-weight: bold;
            }
            
            @media screen and (max-width: 768px){
                #l-start-left{
                    margin-top: 20% !important;
                    margin-bottom: 0px !important;
                }
                .btn-getStart{
                    margin-bottom: 700px !important;
                    width: 100% !important;
                }
                #l-start{
                    width: 85% !important;
                    background: none !important;
                    box-shadow: none;
                }
            }
            @media screen and (min-width: 768px){
                #l-start{
                    width: inherit !important;
                }
            }
            .btn-getStart{
                top: 10% !important;
                right: 0px !important;
                /*position: absolute !important;*/
                width: 250px;
                height: 65px;
                border-radius: 0;
                line-height: 50px !important;
                font-size: 25px;
                font-weight: bold;
            }
            
            .card-body > p {
                margin: 0px;
            }
            .center{
                text-align: center;
            }
            .hr{
                text-align: center;
            }
            .title{
                font-weight: bold;
                margin-bottom: 3px !important;
            }
            .highlight{
                background: #00bcd4;
                color: #fff;
                font-weight: bold;
            }
            .bolder{
                font-weight: bold;
            }
            #count-wrapper{
                float:right;
                margin-right: 35px;
                font-size: 13px;
                margin-top: 24px;
            }
            .refresh_icon{
                float: right;
                right: 10px;
                position: absolute;
                top: 47px;
                font-size: 18px;
            }
            .strong{
                font-size:14px;
                font-weight:bold;
            }
            
            .infoCard-super{
                /*box-shadow: 1px 1px 2px #777;*/
                /*border: 1px solid rgba(119, 119, 119, 0.21);*/
                border-radius: 3px;
            }
            .infoCard-imgcover{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.15);
                top:0;
            }
            .infoCard-wrapper{
                width: 100%;
                height: 60px;
                margin-top: -60px;
                z-index: 100;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            .infoCard-content{
                position: absolute;
                /*background-color: #fff;*/
                width: 100%;
                height: 60px;
                z-index: 101;
                border-bottom-left-radius: 1px;
                border-bottom-right-radius: 2px;
                right: 0px;
                left: 0px;
            }
            .infoCard-content2{
                background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
                color: #fff;
                padding: 10px 4px 5px;
                width: 100%;
                height: 60px;
            }
            
            .infoCard-span{
                
            }
            .infoCard-content-title{
                /*font-size: 14px;*/
                font-weight: bolder;
            }
            .infoCard-content-artist{
                margin-top: 3px;
                font-size: 14px;
            }
            .card-header{
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
                line-height: 1.1 !important;
                padding: 23px 30px !important;
                font-size: 19px;
                padding-right: 18px !important;
            }
            
            
            .lightbox .lightbox-item > .img {
                width: 100%;
                border-radius: 2px;
                background-color: #000;
            }
            .img {
                vertical-align: middle;
                border: 0;
            }
            .selectBtn{
                float: right;
                right: 10px;
                position: absolute;
                top: 13px;
                width: 35px;
                height: 35px;
                line-height: 36px !important;
            }
            .selectBtn > .zmdi{
                font-size: 17px;
            }
        </style>
        <script>
            function modal_show(i){
                var count = $("#c-count").text();
                console.log(count);
                var titleBox = $(".modal-title");
                var msg = "";
                if (count <= 5) {
                    msg = "ㅠㅠ노래가 너무 없으면 취향을 공부하기 어려워요..";
                    c = 10 - count;
                    hg = c + " 곡..";
                } else if (count > 5 && count < 10) {
                    msg = "아직 2% 부족해요; 조금만 더 부탁드립니다!! ㅇ0ㅇ";
                    c = 10 - count;;
                    hg = c + " 곡"
                } else if (count >= 10 && count < 15 ) {
                    msg = "ㅎㅎ고마워요! 피가되고 살이되었어요~ :D";
                    hg = "네 곡";
                } else if (count >= 15 && count < 20) {
                    msg = "와우.. 더 알려주실도 있지만,, 만족합니다!";
                    hg = "좋아하시는 몇 곡 정도";
                } else if (count >= 20) {
                    msg = "당신은 노래방 마니아입니다. 다음엔 노래도 들어보곱..";
                    hg = "좋아하시는 몇 곡 정도";
                };
                titleBox.empty().append(msg);
                $(".hangeul").empty().append(hg);
                
                var modal = $("#modalNarrower");
                var dialog = $(".modal-dialog");
                var content = $(".modal-content");
                
                modal.addClass("in").fadeIn(100);
                // dialog.slideDown(500);    .fadeIn(300)
                $("body").addClass("modal-open");
                
            };
            function modal_hide(i){
                var modal = $("#modalNarrower");
                var dialog = $(".modal-dialog");
                var content = $(".modal-content");
                
                // dialog.slideUp(500);    .fadeOut(300)
                modal.removeClass("in").slideUp(180);
                $("body").removeClass("modal-open");
            };
            // function refresh(page){
            //     var btn = $("#refreshBtn");
            //     var nextPage = page + 1;
            //     console.log('current : ' + page + ', nextPage : ' + nextPage);
            //     location.reload();
            // };
            
            $(document).ready(function(){
                $("#prjTitle").click(function(){
                    location.reload();
                });
                
                // modal-closer
                $('body').click(function(){
                    console.log("window");
                    modal_hide('1');
                });
                $(".modal-dialog").click(function(e){
                    e.stopPropagation();
                    console.log(".modal-dialog");
                });
                $(".card").click(function(e){
                    e.stopPropagation();
                    console.log(".card");
                });
                $("#main").click(function(e){
                    e.stopPropagation();
                    console.log("#main");
                })
                
                $(".searchBtn").click(function(){
                    console.log("lv-header-alt!");
                    var condition = $(".lvh-search").css("display");
                    console.log(condition);
                    if (condition == "none") {
                        $(".lvh-search").fadeIn(250);
                        $(".lvhs-input").focus();
                    } else {
                        $(".lvh-search").fadeOut(200);
                    };
                });
                
                $(".lvhs-input").focusout(function(){
                    $(".lvh-search").fadeOut(200);
                });
                
                $(".lvhs-input").keypress(function(event){
                    var words = $(this).val();
                    console.log(words);
                    
                    ajax_search(words);
                });
            });
            
            function select(id){
                var btn = $("#selectBtn_" + id);
                console.log("selected : " + id);
                //id_collect(id);
                ajax_push(id);
                btn.attr("onclick","");
                btn.attr("onclick","cancel("+ id +")");
                btn.attr("style","background: #2196F3 !important;");
            };
            
            function cancel(id){
                var btn = $("#selectBtn_" + id);
                console.log("selected : " + id);
                ajax_delete(id);
                btn.attr("onclick","");
                btn.attr("onclick","select("+ id +")");
                btn.attr("style","background: #fff;");
            };
            
            function goSearch(px){
                $( 'html, body' ).animate( { scrollTop : px }, 400 );
            };
            
            function load_more(page){
                var btn = $("#loadMoreBtn");
                
                $.ajax({
                    method: "POST",
                    url: "/ajax/next_page",
                    data: { page: page }
                })
                .done(function( songs ) {
                    console.log( "Data loaded: " + songs );
                    var cards  = "";
                    
                    if (songs != null) {
                        console.log( "songs is NOT null");
                        $.each(songs, function(index, song) {
                            var anchor = "";
                            var jacket = "";
                            var a_card = "";
                            
                            // lowkey true: tag my favorite;
                            if (song.lowkey == "true") {
                                anchor = '<a style="z-index: 10000; background: #2196F3 !important;" onclick="cancel(' + song.id + ')" id="selectBtn_' + song.id + '" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>'
                            } else {
                                anchor = '<a style="z-index: 10000;" onclick="select(' + song.id + ')" id="selectBtn_' + song.id + '" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>'
                            };
                            
                            // highkey true: check jacket img;
                            if (song.highkey == "false") {
                                jacket = "https://scontent.xx.fbcdn.net/v/t1.0-9/15095721_1099306143519780_6966671705149925303_n.jpg?oh=d69e37d5e799c027f0d10ac0405ba314&oe=58C6FE81"
                            } else {
                                jacket = song.jacket
                            };
                            
                            a_card = ('<div data-src="' + jacket + '" class="col-md-2 col-sm-4 col-xs-6" style="border: 3px solid #fff; margin: 0px; padding: 0px;">'
                                        + '<div class="lightbox-item p-item" style="width: 100%;">'
                                            + '<img src="' + jacket + '" alt="' + song.title + '" />'
                                            + '<div class="infoCard-imgcover"></div>'
                                            + '<div class="infoCard-wrapper">'
                                                + '<div class="infoCard-content">'
                                                    + '<div class="infoCard-content2">'
                                                        + '<span class="infoCard-span infoCard-content-title">' + song.title + '</span><br>'
                                                        + '<span class="infoCard-span infoCard-content-artist">' + song.artist_name + '</span>'
                                                        + anchor
                                                    + '</div>'
                                                + '</div>'
                                            + '</div>'
                                        + '</div>'
                                    + '</div>');
                            cards = cards + a_card;
                        }); // 반복문 종료
                        var place = $("#page_place");
                        cards = cards + '<div id="page_place"></div>';
                        place.html(cards).attr("id",'#page_place_before');
                    } else {
                        console.log( "songs is null");
                        btn.hide();
                        $("#goSearchFormBtn").show();
                    };
                    
                }); // ajax 종료
                
                page = page + 1;
                btn.attr("onclick",'')
                btn.attr("onclick", "load_more("+ page +")" );
            }
            
            function ajax_push(id){     // 체크한 id들을 모아 전송.(마이리스트에 곡 추가)
                $.ajax({
                    method: "POST",
                    url: "/ajax/get_ids",
                    data: { id: id }
                })
                .done(function( count ) {
                    console.log( "Data Saved: " + count );
                    $("span.count").empty().append(count);
                    
                    var msg = count + "번째 곡이 저장되었습니다! :D";
                    var toastBox = '<div class="container toast" id="toast_'+ id +'">'
                                        + '<div class="row">'
                                            + '<div class="col-sm-4 col-xs-2"></div>'
                                            + '<div class="col-sm-8 col-xs-10 toast-wrapper">'
                                                + '<a class="btn btn-inverse waves-effect toast-btn" style="cursor: none;">'
                                                    + '<span class="toast-msg">'+ msg +'</span>'
                                                + '</a>'
                                            + '</div>'
                                        + '</div>'
                                    + '</div>';
                    $("#toast_point").append(toastBox);
                    $("#toast_" + id).fadeIn(300).delay(800).fadeOut(300).attr("id","toast_end_" + id);
                });
            }
            
            function ajax_delete(id){    // 마이리스트에서 곡 삭제
                $.ajax({
                    method: "DELETE",
                    url: "/ajax/get_ids",
                    data: { id: id }
                })
                .done(function( count ) {
                    console.log( "Data Deleted: " + count );
                    $("span.count").empty().append(count);
                    
                    var deleted_nth = count + 1;
                    var msg = deleted_nth + "번째 곡이 삭제되었어요 :(";
                    var toastBox = '<div class="container toast" id="d_toast_'+ id +'">'
                                        + '<div class="row">'
                                            + '<div class="col-sm-4 col-xs-2"></div>'
                                            + '<div class="col-sm-8 col-xs-10 toast-wrapper">'
                                                + '<a class="btn btn-inverse waves-effect toast-btn" style="cursor: none;">'
                                                    + '<span class="toast-msg">'+ msg +'</span>'
                                                + '</a>'
                                            + '</div>'
                                        + '</div>'
                                    + '</div>';
                    $("#toast_point").append(toastBox);
                    $("#d_toast_" + id).fadeIn(300).delay(800).fadeOut(300).attr("id","d_toast_end_" + id);
                });
            }
            
            function ajax_search(query){
                var btn = $("#loadMoreBtn");
                btn.hide();
                $("#goSearchFormBtn").hide();
                $("#goSearchFormBtn2").show();
                
                $.ajax({
                    method: "GET",
                    url: "/ajax/searching",
                    data: { query: query }
                })
                .done(function( songs ) {
                    console.log( "Data Searched: " + songs );
                    var cards  = "";
                    if (songs != null) {
                        $(".photos").empty();
                        $.each(songs, function(index, song) {
                            var anchor = "";
                            var jacket = "";
                            var a_card = "";
                            
                            // lowkey true: tag my favorite;
                            if (song.lowkey == "true") {
                                anchor = '<a style="z-index: 10000; background: #2196F3 !important;" onclick="cancel(' + song.id + ')" id="selectBtn_' + song.id + '" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>'
                            } else {
                                anchor = '<a style="z-index: 10000;" onclick="select(' + song.id + ')" id="selectBtn_' + song.id + '" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>'
                            };
                            
                            // highkey true: check jacket img;
                            if (song.highkey == "false") {
                                jacket = "https://scontent.xx.fbcdn.net/v/t1.0-9/15095721_1099306143519780_6966671705149925303_n.jpg?oh=d69e37d5e799c027f0d10ac0405ba314&oe=58C6FE81"
                            } else {
                                jacket = song.jacket
                            };
                            
                            a_card = ('<div data-src="' + jacket + '" class="col-md-2 col-sm-4 col-xs-6" style="border: 3px solid #fff; margin: 0px; padding: 0px;">'
                                        + '<div class="lightbox-item p-item" style="width: 100%;">'
                                            + '<img src="' + jacket + '" alt="' + song.title + '" />'
                                            + '<div class="infoCard-imgcover"></div>'
                                            + '<div class="infoCard-wrapper">'
                                                + '<div class="infoCard-content">'
                                                    + '<div class="infoCard-content2">'
                                                        + '<span class="infoCard-span infoCard-content-title">' + song.title + '</span><br>'
                                                        + '<span class="infoCard-span infoCard-content-artist">' + song.artist_name + '</span>'
                                                        + anchor
                                                    + '</div>'
                                                + '</div>'
                                            + '</div>'
                                        + '</div>'
                                    + '</div>');
                            cards = cards + a_card;
                        });
                        $(".photos").html(cards);
                    } else {
                        console.log("Result is Null");
                        btn.hide();
                        $("#goSearchFormBtn2").show();
                    };
                });
            }
        </script>
        <div class="card loginCard" style="z-index: 1001 !important;">
            <div class="card-header bgm-red" style="/*background-color: #2196f3;*/"><span id="prjTitle">고래방 가르치기</span> <%#= @current_user.my_songs.map{|s| s.title.first(3)} %> <%#= @current_user.my_songs.count %>
                <a onclick="modal_show(1)" id="refreshBtn" class="btn btn-default btn-icon waves-effect waves-circle waves-float refresh_icon" style=""><span class="count" id="c-count"><%= @count %></span></a>
                <!--<i class="zmdi zmdi-refresh"></i>-->
                <span id="count-wrapper">COUNTER</span>
            </div>
            <div class="card-body"></div>
        </div>
        <input id="ids_bucket" type="hidden" value="" count="0">
        <section id="main">
            <section id="content">
                <div class="container">
                    <div class="block-header" style="margin-top: 15px;">
                        <h2>당신의 취향을 알려주세요!
                             <small style="margin-bottom: 0;">종종 불러본 노래를 찾아 <span class="strong">초록색 버튼</span>을 눌러주세요~**</small>
                             <small>오른쪽 위의 <span class="strong">흰색 카운터 버튼</span>을 누르면 완료하실 수 있어요!</small>
                        </h2>
                    </div>
                 
                    <div class="card">
                        <div class="lv-header-alt clearfix searchBtn">
                            <h2 class="lvh-label hidden-xs">찾는 노래가 있나요? 오른쪽 검색 아이콘을 눌러주세요!</h2>
                            
                            <div class="lvh-search">
                                <input type="text" placeholder="Start typing..." class="lvhs-input" style="border: 1px solid #4caf50;">
                                <i class="lvh-search-close">&times;</i>
                            </div>
                            
                            <ul class="lv-actions actions">
                                <li>
                                    <a style="cursor:pointer" class="lvh-search-trigger">
                                        <i class="zmdi zmdi-search"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                 
                        <div class="card-body card-padding">
                            <div class="lightbox photos">
                                <% @songs.each do |song| %>
                                    <%
                                        if song.checkJacket == false
                                            jacket = $noReadyJacket_600
                                        else
                                            jacket = song.jacket
                                        end
                                    %>
                                    <div data-src="<%= jacket %>" class="col-md-2 col-sm-4 col-xs-6" style="border: 3px solid #fff; margin: 0px; padding: 0px;">
                                        <div class="lightbox-item p-item" style="width: 100%;">
                                            <img src="<%= jacket %>" alt="<%= song.title %>" />
                                            <div class="infoCard-imgcover"></div>
                                            <div class="infoCard-wrapper">
                                                <div class="infoCard-content">
                                                    <div class="infoCard-content2">
                                                        <span class="infoCard-span infoCard-content-title"><%= song.title.truncate(11) %></span><br>
                                                        <span class="infoCard-span infoCard-content-artist"><%= song.artist_name.truncate(15) %></span>
                                                        <% if song.lowkey == "true" %>
                                                            <a style="z-index: 10000; background: #2196F3 !important;" onclick="cancel(<%= song.id %>)" id="selectBtn_<%= song.id %>" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>
                                                        <% else %>
                                                            <a style="z-index: 10000;" onclick="select(<%= song.id %>)" id="selectBtn_<%= song.id %>" class="btn btn-icon btn-float waves-effect waves-circle waves-float refresh_icon selectBtn bgm-green"><i class="zmdi zmdi-mail-send"></i></a>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                                <div id="page_place"></div>
                                <!--<div 설명="원래 템플릿의 이미지 코드들">-->
                                <!--    <div data-src="/media/gallery/5.jpg" class="col-md-2 col-sm-4 col-xs-6" style="border: 3px solid #fff; margin: 0px; padding: 0px;">-->
                                <!--        <div class="lightbox-item p-item" style="width: 100%;">-->
                                <!--            <img src="/media/gallery/thumbs/5.jpg" alt="" />-->
                                <!--        </div>-->
                                <!--    </div>-->
                                <!--    <div data-src="/media/gallery/2.jpg" class="col-md-2 col-sm-4 col-xs-6">-->
                                <!--        <div class="lightbox-item p-item">-->
                                <!--            <img src="/media/gallery/thumbs/2.jpg" alt="" />-->
                                <!--        </div>-->
                                <!--    </div>-->
                                <!--</div>-->
                                
                             </div>
                 
                             <div class="clearfix"></div>
                 
                             <div class="load-more m-t-30">
                                 <a onclick="load_more(2)" id="loadMoreBtn" style="cursor: pointer;"><i class="zmdi zmdi-refresh-alt"></i> Load More...</a>
                             </div>
                             <div class="load-more m-t-30" id="goSearchFormBtn" style="display: none;">
                                 <a onclick="goSearch(0)" style="cursor: pointer; background: #2196F3;">위로 올라가기 (검색을 이용해 주세요!)</a>
                             </div>
                             <div class="load-more m-t-30" id="goSearchFormBtn2" style="display: none;">
                                 <a onclick="goSearch(0)" style="cursor: pointer; background: #2196F3;">위로 올라가기</a>
                             </div>
                         </div>
                     </div>
                 </div>
                    
            </section>
        </section>
        
        <%= render partial: 'admin2/feature_layouts/footer' %>
        <!--Toast Message-->
        <div id="toast_point">
            <div class="container toast" id="toast_" style="display: none !important;">
                <div class="row">
                    <div class="col-sm-4 col-xs-2"></div>
                    <div class="col-sm-8 col-xs-10 toast-wrapper">
                        <a class="btn btn-inverse waves-effect toast-btn" style="cursor: none;">
                            <span class="toast-msg">저장되었습니다!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <style>
            .toast{
                display: none;
                position: fixed;
                top: 85px;
                width: 100%;
                z-index: 1000000 !important;
            }
            .toast-wrapper{
                text-align: right;
                right: 5px;
            }
            .toast-btn{
                color: #fff;
                padding: 15px 20px;
                box-shadow: 1px 1px 5px #777 !important;
            }
        </style>
        
        <!-- Page Loader -->
        <div class="page-loader">
            <div class="preloader pls-blue">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20" />
                </svg>

                <p>Please wait...</p>
            </div>
        </div>

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="/images/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="/images/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="/images/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="/images/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="/images/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->
    
    
        <!-- Javascript Libraries -->
        <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <script src="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
        <!--<script src="/vendors/bower_components/lightgallery/light-gallery/js/lightGallery.min.js"></script>-->
        
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
        
        <script src="/js/functions.js"></script>
        <script src="/js/demo.js"></script>
    
    
    </body>
</html>
