<%= stylesheet_link_tag "gorae/search.css", type: "text/css" %>
<%= render partial: "gorae_layouts/main_header" %>


<script type="text/javascript">
    window.WATCHA_USER_NAME = '김용현';
    window.WATCHA_USER_CODE = 'mHLmUJXckMA1';
    // new Header('mHLmUJXckMA1', window.settingInstance);
</script>

<div id="contents" style="min-height: 1147px; position: relative;">
    <input type="hidden" id="page_search_result">
    <div id="searched_movies_title" class="container_12">
        입력하신 <span id="search_query"><%= @query %></span> 의 검색 결과입니다.
        <span class="count"></span>
    </div>
    <div id="search-tab-wrapper" class="clearfix">
        <a class="tab movie on" href="#">
            영화 <span class="count">(223개)</span>
            <span class="highlight"></span>
        </a>
        <a class="tab user" href="#">
            사용자 <span class="count">(13582명)</span>
            <span class="highlight"></span>
        </a>
    </div>
    <ul id="searched_movies_list" style="position: relative; height: 3049.69px;">
    	
    	<li class="movie-card-wrapper" style="position: absolute; left: 0px; top: 30px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-m5h6zs card grid-1 hei-1">
    		<div class="poster-wrapper" style="position: relative;">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/1de7993f4bea81a0065c.jpg?1460154363" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    			<div id="watcha-tooltip" class="eval-tooltip rating-tooltip" style="z-index: 10; left: 56px; top: 251.281px; display: none;">
    				<div class="watcha-tooltip-content">
    					별로예요
    				</div>
    				<div class="arrow" style="left: 22.5px;">
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/the-hand-1965/m5h6zs" data-movie-title-url="the-hand-1965" data-movie-id="m5h6zs" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>
    			</div>
    			<div class="year-text">
    				1965
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : The Hand
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="148839">이리 트른카</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 240px; top: 30px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-m24jrq card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/b65140bafab5e21605fb.jpg?1460928341" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.9</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					우리의 환대
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/our-hospitality-1923/m24jrq" data-movie-title-url="our-hospitality-1923" data-movie-id="m24jrq" class="search title can_highlighted">
    			<div class="title-text">
    				우리의 환대
    			</div>
    			<div class="year-text">
    				1923
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Our Hospitality
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="127050">존 G. 브리스톤</span>, <span class="popup-involve-movies can_highlighted" data-person-id="91033">버스터 키튼</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="110763">조 로버츠</span>, <span class="popup-involve-movies can_highlighted" data-person-id="91033">버스터 키튼</span>, <span class="popup-involve-movies can_highlighted" data-person-id="121275">랠프 부시맨</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 480px; top: 30px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-msf82h card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/6cbb47f3a99290c92e4d.jpg?1461880142" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;" data-pin-nopin="true">
    				<span class="number">3.2</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손님
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/sonnim-gaje-2014/msf82h" data-movie-title-url="sonnim-gaje-2014" data-movie-id="msf82h" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>님
    			</div>
    			<div class="year-text">
    				2015
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="34444">김광태</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="22687">류승룡</span>, <span class="popup-involve-movies can_highlighted" data-person-id="99014">이성민</span>, <span class="popup-involve-movies can_highlighted" data-person-id="182899">천우희</span>, <span class="popup-involve-movies can_highlighted" data-person-id="55139">이준</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 720px; top: 30px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-m8ttd2 card grid-1 hei-1">
    		<div class="poster-wrapper" style="position: relative;">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/7bde522b7099aaefc0c7.jpg?1461789206" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.7</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					가위손
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/edward-scissorhands-1990/m8ttd2" data-movie-title-url="edward-scissorhands-1990" data-movie-id="m8ttd2" class="search title can_highlighted">
    			<div class="title-text">
    				가위<span class="highlighted">손</span>
    			</div>
    			<div class="year-text">
    				1990
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Edward Scissorhands
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="33843">팀 버튼</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="35059">조니 뎁</span>, <span class="popup-involve-movies can_highlighted" data-person-id="103307">위노나 라이더</span>, <span class="popup-involve-movies can_highlighted" data-person-id="203509">다이안 위스트</span>, <span class="popup-involve-movies can_highlighted" data-person-id="259442">안소니 마이클 홀</span>, <span class="popup-involve-movies can_highlighted" data-person-id="224014">케시 베이커</span>, <span class="popup-involve-movies can_highlighted" data-person-id="126711">로버트 올리버리</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 960px; top: 30px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mloagc card grid-1 hei-1">
    		<div class="poster-wrapper" style="position: relative;">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/e105359b5348bf67b51b.jpg?1460407803" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.2</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손님은 왕이다
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/the-customer-is-always-2006/mloagc" data-movie-title-url="the-customer-is-always-2006" data-movie-id="mloagc" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>님은 왕이다
    			</div>
    			<div class="year-text">
    				2006
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : The Customer Is Always Right
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="299533">오기현</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="7856">성지루</span>, <span class="popup-involve-movies can_highlighted" data-person-id="70144">명계남</span>, <span class="popup-involve-movies can_highlighted" data-person-id="94378">성현아</span>, <span class="popup-involve-movies can_highlighted" data-person-id="56462">이선균</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	
    	<li class="movie-card-wrapper" style="position: absolute; left: 0px; top: 508px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mzbi6q card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/9c8f73d646e4a5fea47a.jpg?1460321790" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;" data-pin-nopin="true">
    				<span class="number">3.3</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손톱
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/deep-scratch-1994/mzbi6q" data-movie-title-url="deep-scratch-1994" data-movie-id="mzbi6q" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>톱
    			</div>
    			<div class="year-text">
    				1994
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Deep Scratch
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="36020">김성홍</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="145004">심혜진</span>, <span class="popup-involve-movies can_highlighted" data-person-id="11556">이경영</span>, <span class="popup-involve-movies can_highlighted" data-person-id="50578">진희경</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 480px; top: 508px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-muaet8 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/589a369256395c0d9f67.jpg?1460413482" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;" data-pin-nopin="true">
    				<span class="number">3.7</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손님
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/guest-2011/muaet8" data-movie-title-url="guest-2011" data-movie-id="muaet8" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>님
    			</div>
    			<div class="year-text">
    				2011
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Guest
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="74836">윤가은</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="46473">정연주</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 960px; top: 526px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mjom4q fix-action-box card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/c1fc0e3f184b175d2653.jpg?1461963864" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.6</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					타짜-신의 손
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left on" data-value="0.5"></span><span class="watcha-star half right on" data-value="1"></span><span class="watcha-star half left on" data-value="1.5"></span><span class="watcha-star half right on" data-value="2"></span><span class="watcha-star half left on" data-value="2.5"></span><span class="watcha-star half right on" data-value="3"></span><span class="watcha-star half left on" data-value="3.5"></span><span class="watcha-star half right on" data-value="4"></span><span class="watcha-star half left on" data-value="4.5"></span><span class="watcha-star half right on" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/tajja-2-2012/mjom4q" data-movie-title-url="tajja-2-2012" data-movie-id="mjom4q" class="search title can_highlighted">
    			<div class="title-text">
    				타짜-신의 <span class="highlighted">손</span>
    			</div>
    			<div class="year-text">
    				2014
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="302801">강형철</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="29386">최승현</span>, <span class="popup-involve-movies can_highlighted" data-person-id="13884">신세경</span>, <span class="popup-involve-movies can_highlighted" data-person-id="208134">곽도원</span>, <span class="popup-involve-movies can_highlighted" data-person-id="136711">이하늬</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 240px; top: 544px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mcuagv card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/a54df62bacacc585f0c2.jpg?1460408963" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">2.7</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					몽키킹:손오공의 탄생
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/the-monkey-king-2013/mcuagv" data-movie-title-url="the-monkey-king-2013" data-movie-id="mcuagv" class="search title can_highlighted">
    			<div class="title-text">
    				몽키킹:<span class="highlighted">손</span>오공의 탄생
    			</div>
    			<div class="year-text">
    				2014
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : The Monkey King
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="243436">정보서</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="196856">견자단</span>, <span class="popup-involve-movies can_highlighted" data-person-id="162571">곽부성</span>, <span class="popup-involve-movies can_highlighted" data-person-id="429">주윤발</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 720px; top: 562px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mqxrj5 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/14af97e135146a004889.jpg?1460410875" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.3</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					사랑방 손님과 어머니
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/mother-and-a-guest-1961/mqxrj5" data-movie-title-url="mother-and-a-guest-1961" data-movie-id="mqxrj5" class="search title can_highlighted">
    			<div class="title-text">
    				사랑방 <span class="highlighted">손</span>님과 어머니
    			</div>
    			<div class="year-text">
    				1961
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Mother And A Guest
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="148206">신상옥</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="32034">최은희</span>, <span class="popup-involve-movies can_highlighted" data-person-id="6528">전영선</span>, <span class="popup-involve-movies can_highlighted" data-person-id="216722">김진규</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	
    	<li class="movie-card-wrapper" style="position: absolute; left: 0px; top: 1004px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mkyyh3 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/4ede9434ce2197f78296.jpg?1460406914" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.2</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					요람을 흔드는 손
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/the-hand-that-rocks-the-1992/mkyyh3" data-movie-title-url="the-hand-that-rocks-the-1992" data-movie-id="mkyyh3" class="search title can_highlighted">
    			<div class="title-text">
    				요람을 흔드는 <span class="highlighted">손</span>
    			</div>
    			<div class="year-text">
    				1992
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : The Hand That Rocks The Cradle
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="140682">커티스 핸슨</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="33549">아나벨라 시오라</span>, <span class="popup-involve-movies can_highlighted" data-person-id="35270">레베카 드 모네이</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 480px; top: 1004px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mkskmb card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/0d31ae4afaffc11fa6f5.jpg?1460413853" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">1.9</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					검은손
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/geomeunson/mkskmb" data-movie-title-url="geomeunson" data-movie-id="mkskmb" class="search title can_highlighted">
    			<div class="title-text">
    				검은<span class="highlighted">손</span>
    			</div>
    			<div class="year-text">
    				2015
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="83303">박재식</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="70517">김성수</span>, <span class="popup-involve-movies can_highlighted" data-person-id="119604">한고은</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 960px; top: 1004px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-moszye card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/b831acdf3158f2b80961.jpg?1461879911" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.4</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					드래곤볼Z : 손오공은 초사이어인
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/doragonboruz-chao-1991/moszye" data-movie-title-url="doragonboruz-chao-1991" data-movie-id="moszye" class="search title can_highlighted">
    			<div class="title-text">
    				드래곤볼Z : <span class="highlighted">손</span>오공은 초사이어인
    			</div>
    			<div class="year-text">
    				1991
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Dragon Ball Z: Lord Slug
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="41543">니시오 다이스케</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="152806">김영선</span>, <span class="popup-involve-movies can_highlighted" data-person-id="90847">서원석</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 240px; top: 1040px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mpk85r card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/b4eeeba90d188f4e7a72.jpg?1435231902" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손도끼
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/hatchet-2006/mpk85r" data-movie-title-url="hatchet-2006" data-movie-id="mpk85r" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>도끼
    			</div>
    			<div class="year-text">
    				2006
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Hatchet
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="193925">애덤 그린</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="53582">조엘 무어</span>, <span class="popup-involve-movies can_highlighted" data-person-id="163715">타마라 펠드먼</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 720px; top: 1058px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mepey6 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/efa55123a907911b77ce.jpg?1461879827" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.6</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					드래곤볼Z : 퓨전의 부활!! 손오공과 베지터
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/doragonboruz-fu-huo-1995/mepey6" data-movie-title-url="doragonboruz-fu-huo-1995" data-movie-id="mepey6" class="search title can_highlighted">
    			<div class="title-text">
    				드래곤볼Z : 퓨전의 부활!! <span class="highlighted">손</span>오공과 베지터
    			</div>
    			<div class="year-text">
    				1995
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Dragon Ball Z: Fusion Reborn
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="271302">야마우치 시게야스</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="152806">김영선</span>, <span class="popup-involve-movies can_highlighted" data-person-id="99982">이동훈</span>, <span class="popup-involve-movies can_highlighted" data-person-id="71086">이재현</span>, <span class="popup-involve-movies can_highlighted" data-person-id="315289">조경이</span>, <span class="popup-involve-movies can_highlighted" data-person-id="134297">김승준</span>, <span class="popup-involve-movies can_highlighted" data-person-id="90847">서원석</span>, <span class="popup-involve-movies can_highlighted" data-person-id="24553">김성연</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	
    	<li class="movie-card-wrapper" style="position: absolute; left: 480px; top: 1482px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-m08oy4 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/321eadf6917f42a40be1.jpg?1461879827" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.9</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					드래곤볼Z : 용권폭발!! 손오공, 네가 하지 않으면 누가 하리!
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/doragonboruz-long-quan-1995/m08oy4" data-movie-title-url="doragonboruz-long-quan-1995" data-movie-id="m08oy4" class="search title can_highlighted">
    			<div class="title-text">
    				드래곤볼Z : 용권폭발!! <span class="highlighted">손</span>오공, 네가 하지 않으면 누가 하리!
    			</div>
    			<div class="year-text">
    				1995
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Dragon Ball Z: Wrath of the Dragon
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="271302">야마우치 시게야스</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="152806">김영선</span>, <span class="popup-involve-movies can_highlighted" data-person-id="134297">김승준</span>, <span class="popup-involve-movies can_highlighted" data-person-id="99982">이동훈</span>, <span class="popup-involve-movies can_highlighted" data-person-id="33563">설영범</span>, <span class="popup-involve-movies can_highlighted" data-person-id="71086">이재현</span>, <span class="popup-involve-movies can_highlighted" data-person-id="315289">조경이</span>, <span class="popup-involve-movies can_highlighted" data-person-id="224351">서유리</span>, <span class="popup-involve-movies can_highlighted" data-person-id="315723">이유리</span>, <span class="popup-involve-movies can_highlighted" data-person-id="315724">김혜성</span>, <span class="popup-involve-movies can_highlighted" data-person-id="315718">이현</span>, <span class="popup-involve-movies can_highlighted" data-person-id="24553">김성연</span>, <span class="popup-involve-movies can_highlighted" data-person-id="315677">김나율</span>, <span class="popup-involve-movies can_highlighted" data-person-id="230180">최낙윤</span>, <span class="popup-involve-movies can_highlighted" data-person-id="315719">안효민</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 960px; top: 1500px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mwnv76 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/5fa6aea6ea97556330f3.jpg?1461530247" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.4</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					악의 손길
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/touch-of-evil-1958/mwnv76" data-movie-title-url="touch-of-evil-1958" data-movie-id="mwnv76" class="search title can_highlighted">
    			<div class="title-text">
    				악의 <span class="highlighted">손</span>길
    			</div>
    			<div class="year-text">
    				1958
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Touch Of Evil
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="44871">오슨 웰즈</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="44871">오슨 웰즈</span>, <span class="popup-involve-movies can_highlighted" data-person-id="275009">찰톤 헤스톤</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 0px; top: 1518px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-m2urc0 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/b9d8739d1b46ea3b1c16.jpg?1460323033" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손님1 첫번째 이야기
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/sonnim1-ceosbeonjjae-2011/m2urc0" data-movie-title-url="sonnim1-ceosbeonjjae-2011" data-movie-id="m2urc0" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>님1 첫번째 이야기
    			</div>
    			<div class="year-text">
    				2011
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="68112">이상화</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="287395">신이</span>, <span class="popup-involve-movies can_highlighted" data-person-id="257941">황선환</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 240px; top: 1536px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-msv1tb card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/89c688d635b464723db8.jpg?1460413713" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">4.0</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					마리 이야기: 손끝의 기적
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/marys-story-2014/msv1tb" data-movie-title-url="marys-story-2014" data-movie-id="msv1tb" class="search title can_highlighted">
    			<div class="title-text">
    				마리 이야기: <span class="highlighted">손</span>끝의 기적
    			</div>
    			<div class="year-text">
    				2014
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Marie's story
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="13676">장 피에르 아메리</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="339989">아리아나 리부아</span>, <span class="popup-involve-movies can_highlighted" data-person-id="157175">이자벨 까레</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 720px; top: 1586px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mnz2i6 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/3d8f20501979d3393a29.jpg?1435233415" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손도끼 2
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/hatchet-ii-2010/mnz2i6" data-movie-title-url="hatchet-ii-2010" data-movie-id="mnz2i6" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>도끼 2
    			</div>
    			<div class="year-text">
    				2010
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Hatchet II
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="193925">애덤 그린</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="284094">다니엘 해리스</span>, <span class="popup-involve-movies can_highlighted" data-person-id="170726">토니 토드</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	
    	<li class="movie-card-wrapper" style="position: absolute; left: 0px; top: 1997px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-m2mp8s card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/963e74df3de0fcd6d500.jpg?1450247281" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					당신 손을 잡고 싶어
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/i-wanna-hold-your-hand-1978/m2mp8s" data-movie-title-url="i-wanna-hold-your-hand-1978" data-movie-id="m2mp8s" class="search title can_highlighted">
    			<div class="title-text">
    				당신 <span class="highlighted">손</span>을 잡고 싶어
    			</div>
    			<div class="year-text">
    				1978
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : I Wanna Hold Your Hand
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="59004">로버트 저메키스</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="210249">낸시 알렌</span>, <span class="popup-involve-movies can_highlighted" data-person-id="226198">마크 맥클루어</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 960px; top: 1997px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-m4djwj card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/8b93f043799a70c514a9.jpg?1460407196" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">4.4</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					초대받지 않은 손님
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/guess-whos-coming-to-1967/m4djwj" data-movie-title-url="guess-whos-coming-to-1967" data-movie-id="m4djwj" class="search title can_highlighted">
    			<div class="title-text">
    				초대받지 않은 <span class="highlighted">손</span>님
    			</div>
    			<div class="year-text">
    				1967
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Guess Who's Coming To Dinner
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="184155">스탠리 크레이머</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="270344">스펜서 트레이시</span>, <span class="popup-involve-movies can_highlighted" data-person-id="8218">시드니 포이티어</span>, <span class="popup-involve-movies can_highlighted" data-person-id="251865">캐서린 헵번</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 240px; top: 2033px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mv2p0z card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/4ab9ee8333ca2f678a5a.jpg?1460153138" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손도끼 3
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/hatchet-iii-2013/mv2p0z" data-movie-title-url="hatchet-iii-2013" data-movie-id="mv2p0z" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>도끼 3
    			</div>
    			<div class="year-text">
    				2013
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Hatchet III
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="316896">BJ 맥도넬</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="284094">다니엘 해리스</span>, <span class="popup-involve-movies can_highlighted" data-person-id="137981">케인 호더</span>, <span class="popup-involve-movies can_highlighted" data-person-id="282169">자크 걸리건</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 480px; top: 2047px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mforsx card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/0356d808331471086f6b.jpg?1460412065" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.7</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					아주 특별한 손님
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/ad-lib-night-2006/mforsx" data-movie-title-url="ad-lib-night-2006" data-movie-id="mforsx" class="search title can_highlighted">
    			<div class="title-text">
    				아주 특별한 <span class="highlighted">손</span>님
    			</div>
    			<div class="year-text">
    				2006
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Ad-Lib Night
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="80215">이윤기</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="202454">한효주</span>, <span class="popup-involve-movies can_highlighted" data-person-id="113245">김영민</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 720px; top: 2083px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mmk1y1 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/c214cbd9947be64cd0ef.jpg?1451718083" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					어둠에서 손을 뻗쳐
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/there-is-light-2013/mmk1y1" data-movie-title-url="there-is-light-2013" data-movie-id="mmk1y1" class="search title can_highlighted">
    			<div class="title-text">
    				어둠에서 <span class="highlighted">손</span>을 뻗쳐
    			</div>
    			<div class="year-text">
    				2013
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : There is Light
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="315063">토다 유키히로</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="184165">코이즈미 마야</span>, <span class="popup-involve-movies can_highlighted" data-person-id="20776">츠다 칸지</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	
    	<li class="movie-card-wrapper" style="position: absolute; left: 0px; top: 2493px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-my37di card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/9b7573f1d15f14721a71.jpg?1460065052" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					손수건을 꺼내라
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/get-out-your-1978/my37di" data-movie-title-url="get-out-your-1978" data-movie-id="my37di" class="search title can_highlighted">
    			<div class="title-text">
    				<span class="highlighted">손</span>수건을 꺼내라
    			</div>
    			<div class="year-text">
    				1978
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Get Out Your Handkerchiefs
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="271621">베르뜨랑 블리에</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="75500">제라르 드빠르디유</span>, <span class="popup-involve-movies can_highlighted" data-person-id="285017">캐럴 로리</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 960px; top: 2511px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mr6p1t card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/d89e6cfb51aab99da207.jpg?1460926076" width="100%">
    			<div class="top-gradation">
    			</div>
    			<div class="predicted-rating">
    				<span class="rating">
    				<img class="thumb" width="25" height="25" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" onerror="utils.loadDefaultImg(this, 'thumb');return false;">
    				<span class="number">3.2</span>
    				</span>
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					죽음의 다섯 손가락
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/five-fingers-of-death-1972/mr6p1t" data-movie-title-url="five-fingers-of-death-1972" data-movie-id="mr6p1t" class="search title can_highlighted">
    			<div class="title-text">
    				죽음의 다섯 <span class="highlighted">손</span>가락
    			</div>
    			<div class="year-text">
    				1972
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Five Fingers Of Death
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="278775">정창화</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="143200">나열</span>, <span class="popup-involve-movies can_highlighted" data-person-id="308228">김기주</span>, <span class="popup-involve-movies can_highlighted" data-person-id="59658">남궁훈</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 480px; top: 2543px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mr5837 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/abeceb709b50368220d3.jpg?1460411875" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					요람을 흔드는 손
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/misbegotten-1997/mr5837" data-movie-title-url="misbegotten-1997" data-movie-id="mr5837" class="search title can_highlighted">
    			<div class="title-text">
    				요람을 흔드는 <span class="highlighted">손</span>
    			</div>
    			<div class="year-text">
    				1998
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Misbegotten
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="148485">마크 L. 레스터</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="249896">케빈 딜론</span>, <span class="popup-involve-movies can_highlighted" data-person-id="258920">닉 맨쿠소</span>, <span class="popup-involve-movies can_highlighted" data-person-id="309699">리세트 안소니</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 240px; top: 2547px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mc6mxa card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/64a6883c0a4c03ea9f64.jpg?1445496886" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					사랑방 손님과 어머니
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/the-guest-in-room-guest-1978/mc6mxa" data-movie-title-url="the-guest-in-room-guest-1978" data-movie-id="mc6mxa" class="search title can_highlighted">
    			<div class="title-text">
    				사랑방 <span class="highlighted">손</span>님과 어머니
    			</div>
    			<div class="year-text">
    				1978
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : The Guest In Room Guest And Mother
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="182816">조문진</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="79428">방희</span>, <span class="popup-involve-movies can_highlighted" data-person-id="50959">하명중</span>, <span class="popup-involve-movies can_highlighted" data-person-id="220573">도금봉</span>, <span class="popup-involve-movies can_highlighted" data-person-id="63478">김상순</span>, <span class="popup-involve-movies can_highlighted" data-person-id="285980">이효정</span>, <span class="popup-involve-movies can_highlighted" data-person-id="151161">박정자</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    	<li class="movie-card-wrapper" style="position: absolute; left: 720px; top: 2579px;">
    	    <div class="movie-card size-1x1 poster-type movie_basic user-action-mz2nn3 card grid-1 hei-1">
    		<div class="poster-wrapper">
    			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/large/b767089bccc730674ed0.jpg?1460411191" width="100%">
    			<div class="predicted-rating">
    			</div>
    			<div class="detail-opener gradation">
    			</div>
    			<div class="bottom">
    			</div>
    			<div class="action-wrapper">
    				<div class="movie-title">
    					현금에 손대지 마라
    				</div>
    				<div class="rating">
    					<span class="watcha-star half left" data-value="0.5"></span><span class="watcha-star half right" data-value="1"></span><span class="watcha-star half left" data-value="1.5"></span><span class="watcha-star half right" data-value="2"></span><span class="watcha-star half left" data-value="2.5"></span><span class="watcha-star half right" data-value="3"></span><span class="watcha-star half left" data-value="3.5"></span><span class="watcha-star half right" data-value="4"></span><span class="watcha-star half left" data-value="4.5"></span><span class="watcha-star half right" data-value="5"></span>
    				</div>
    				<div class="wish-comment">
    					<div class="wish">
    						<span class="icon"></span>
    						보고싶어요
    					</div>
    					<div class="comment">
    						<span class="icon"></span>
    						<span class="text">코멘트 쓰기</span>
    					</div>
    				</div>
    				<div class="meh">
    					관심없어요
    				</div>
    			</div>
    		</div>
    		<div class="search-footer">
    			<a href="/mv/dont-touch-the-loot-1953/mz2nn3" data-movie-title-url="dont-touch-the-loot-1953" data-movie-id="mz2nn3" class="search title can_highlighted">
    			<div class="title-text">
    				현금에 <span class="highlighted">손</span>대지 마라
    			</div>
    			<div class="year-text">
    				1953
    			</div>
    			</a>
    			<div class="search summary">
    				<div class="origin-title can_highlighted">
    					 원제 : Don't Touch The Loot
    				</div>
    				<div class="director">
    					 감독 : <span class="popup-involve-movies can_highlighted" data-person-id="215528">자크 베케르</span>
    				</div>
    				<div class="actor">
    					 배우 : <span class="popup-involve-movies can_highlighted" data-person-id="249514">장 가방</span>, <span class="popup-involve-movies can_highlighted" data-person-id="242810">르네 다리</span>
    				</div>
    			</div>
    		</div>
    	</div>
    	</li>
    </ul>
    <ul id="searched_users_list" data-loadmore="true"></ul>
    <div id="canvasloader-container"><div id="canvasLoader" style="display: block;"><canvas width="40" height="40"></canvas><canvas width="40" height="40" style="display: none;"></canvas></div></div>
    <script>
      new Search($('#searched_movies_list'), '<%= @query %>')
    </script>
</div>
    
<div id="toast-msg"></div>
<div id="account-setting-popup">
	<div class="inner-shadow"></div>
	<div class="photo-wrapper" style="background-image:url(https://d12hfz37g51hrt.cloudfront.net/s/large/-1635a5fa8bc452c80d11.jpg?1460706754)">
		<span class="user-photo" style="background-image:url('https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo.jpg')">
		    <img alt="Ui_kit_78" src="https://d12hfz37g51hrt.cloudfront.net/assets/masks/ui_kit_78-2d37cb2b985d5e75fed800c904eb6c07.png"/>
		</span>
		<div class="name-and-upload">
			<span class="name">김용현<span id="upload-user-photo" class="upload"></span></span>
		</div>
	</div>
	<form>
		<table>
    		<tbody>
        		<tr class="email">
        			<td class="title">
        				이메일
        			</td>
        			<td class="field">
        				 yhk1038@hanmail.net <button class="change-email" data-password-initialized="false">변경하기</button>
        			</td>
        		</tr>
        		<tr class="nickname">
        			<td class="title">
        				닉네임
        			</td>
        			<td class="field">
        				<input type="text" name="user[name]" value="김용현"/>
        				<p class="desc">
        					최소 2자, 최대 20글자까지 가능합니다.
        				</p>
        			</td>
        		</tr>
        		<tr class="sns">
        			<td class="title">
        				SNS 설정
        			</td>
        			<td class="field">
        				<div class="fb">
        					<div class="icon-wrapper on" data-password-initialized="false">
        						<span class="switch"></span>
        						<span class="icon"></span>
        					</div>
        					<span class="text">페이스북 계정 연동 해제하기</span>
        					<input id="use-timeline" name="user[use_timeline]" type="checkbox" checked/>
        					<label for="use-timeline">페이스북 타임라인에 게시하기</label>
        				</div>
        				<div class="twitter">
        					<div class="icon-wrapper ">
        						<span class="switch"></span>
        						<span class="icon"></span>
        					</div>
        					<span class="text">트위터 계정 연동 하기</span>
        				</div>
        			</td>
        		</tr>
        		<tr class="subscribe">
        			<td class="title">
        				이메일 구독
        			</td>
        			<td class="field">
        				<input id="subscribe-email" name="user[mailing_update]" type="checkbox" checked/>
        				<label for="subscribe-email">왓챠의 업데이트 및 이벤트 소식</label>
        			</td>
        		</tr>
        		<tr class="reset_evals">
        			<td class="title">
        				평가내역 초기화
        			</td>
        			<td class="field">
        				<button class="reset_ims_btn password_not_init" type="button">초기화할 항목 선택하기</button>
        				<div class="reset_ims_box ">
        					<div class="warning_text">
        						 초기화 후에는 복구 할 수 없습니다
        					</div>
        					<input class="password_input" type="password" name="password_input" placeholder="비밀번호 입력"/>
        					<div class="checkbox_wrapper">
        						<div class="checkbox_item">
        							<input id="reset_wish" type="checkbox" name="action_types[]" value="wish"/>
        							<label for="reset_wish">보고싶어요</label>
        						</div>
        						<div class="checkbox_item">
        							<input id="reset_eval" type="checkbox" name="action_types[]" value="rate"/>
        							<label for="reset_eval">봤어요</label>
        						</div>
        						<div class="checkbox_item">
        							<input id="reset_review" type="checkbox" name="action_types[]" value="comment"/>
        							<label for="reset_review">코멘트</label>
        						</div>
        						<div class="checkbox_item">
        							<input id="reset_meh" type="checkbox" name="action_types[]" value="meh"/>
        							<label for="reset_meh">관심없어요</label>
        						</div>
        					</div>
        					<p class="reset_msg">
        					</p>
        					<div class="button_wrapper">
        						<button type="button" class="reset_cancel">취소</button>
        						<button type="button" class="reset_submit">확인</button>
        					</div>
        					<span id="box-arrow"></span>
        				</div>
        			</td>
        		</tr>
        		<tr class="set-interest-privacy">
        			<td class="title">
        				공개범위 설정
        			</td>
        			<td class="field">
        				<button class="btn" type="button">전체공개</button>
        				<div class="scope-box">
        					<div class="kind">
        						평가 / 보고싶어요 / 관심없어요 / 코멘트
        					</div>
        					<div class="radio-wrapper">
        						<div class="radio-item checked">
        							<input id="allow-public" type="radio" checked name="interest_privacy" value="0"/>
        							<label for="allow-public">
        							<dt>전체공개</dt>
        							<dd>왓챠의 모든 유저에게 공개합니다.</dd>
        							</label>
        						</div>
        						<div class="radio-item ">
        							<input id="allow-friends" type="radio" name="interest_privacy" value="1"/>
        							<label for="allow-friends">
        							<dt>친구공개</dt>
        							<dd>내가 팔로우하는 친구에게 공개합니다.</dd>
        							</label>
        						</div>
        						<div class="radio-item ">
        							<input id="allow-private" type="radio" name="interest_privacy" value="2"/>
        							<label for="allow-private">
        							<dt>비공개</dt>
        							<dd>아무에게도 공개하지 않습니다.</dd>
        							</label>
        						</div>
        					</div>
        					<div class="button_wrapper">
        						<button type="button" class="accessor_cancel">취소</button>
        						<button type="button" class="accessor_submit">확인</button>
        					</div>
        					<span class="box-arrow"></span>
        				</div>
        			</td>
        		</tr>
        		<tr class="password">
        			<td class="title">
        				비밀번호 생성
        			</td>
        			<td class="field">
        				<input class="current" name="password[password_ori]" type="password" placeholder="기존 비밀번호" style="display:none;"/>
        				<input class="new" name="password[password_new]" type="password" placeholder="새 비밀번호"/>
        				<input class="confirm" name="password[password_confirm]" type="password" placeholder="새 비밀번호 확인"/>
        			</td>
        		</tr>
    		</tbody>
		</table>
	</form>
	<a href="#" type="button" class="deactivate">탈퇴하기</a>
	<button class="submit">확인</button>
	<button class="cancel">취소</button>
	<div class="clear"></div>
</div>
<script type="text/javascript">
    window.settingInstance = new Setting($('#account-setting-popup'));
</script>

    
<%= render partial: "gorae_layouts/main_footer" %>
<script>
    // 트위터 연동 코드
    !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0];
        
        if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;js.src="https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
        }
    }(document,"script","twitter-wjs");
</script>

<script type="text/javascript">
    adroll_adv_id = "TQL7PFOBG5ES5EZEXO4NRM";
    adroll_pix_id = "GZKZVF5HHBDGHN5OY6OVXG";
    (function () {
    var oldonload = window.onload;
    window.onload = function(){
       __adroll_loaded=true;
       var scr = document.createElement("script");
       var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
       scr.setAttribute('async', 'true');
       scr.type = "text/javascript";
       scr.src = host + "/j/roundtrip.js";
       ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
       if(oldonload){oldonload()}};
    }());
</script>
