<%
    if params[:mod] != nil
        @mod_song = Song.find(params[:mod])
    end
    @complete = Song.where.not(song_tjnum: nil).where.not(song_num: nil)
    @percentage = (@complete.count/Song.count)*100
%>
<div role="tabpanel" class="tab-pane animated fadeIn in active" id="tab-2">
    <div class="col-sm-12">
        <!-- Rating 전체 완성률 -->
        <div class="card rating-list">
            <div class="listview">
                <div class="lv-header bgm-teal" style="color:#fff;">
                    <div class="m-t-5">
                        전체 완료 현황(static)
                    </div>

                    <div class="clearfix"></div>

                    <div class="rl-star">
                        <i class="zmdi zmdi-star active"></i>
                        <i class="zmdi zmdi-star active"></i>
                        <i class="zmdi zmdi-star active"></i>
                        <i class="zmdi zmdi-star"></i>
                        <i class="zmdi zmdi-star"></i>
                    </div>
                </div>

                <div class="lv-body">
                    <div class="p-15">
                        <div class="lv-item">
                            <div class="media">
                                <div class="pull-left">
                                    1 <i class="zmdi zmdi-star"></i>
                                </div>

                                <div class="pull-right"><%= Song.where.not(song_tjnum: nil).where.not(song_num: nil).count %>/<%= Song.count %></div>

                                <div class="media-body">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= @percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentage %>%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tasks 잡스-->
        <div class="card">
            <div class="listview">
                <div class="lv-header bgm-indigo" style="color:#fff;">
                    인원별 현황 (dinamic)
                </div>
                <div class="lv-body">
                    <% if user_signed_in? %>
                    <%
                        my_count = 0
                        my_count = current_user.uid.gsub('[','').gsub(']','').split(', ').count if current_user.uid != nil
                        my_rate  = my_count.to_f / 1000.to_f
                        my_percentage = number_to_percentage(my_rate, precision: 4, significant: true, strip_insignificant_zeros: true)
                    %>
                    <div class="lv-item">
                        <div class="lv-title m-b-5"><%= current_user.name %> (<%= my_count %>개)</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= my_percentage.to_s.gsub('%','') %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= my_percentage %>">
                                <span class="sr-only"><%= my_count %> Complete (success)</span>
                            </div>
                        </div>
                    </div>
                    <% end %>

                    <% User.where.not(uid: nil).all.order(:uid).each do |user| %>
                    <% if user_signed_in? %>
                        <% next if user.id == current_user.id %>
                    <% end %>
                    <%
                        user_count = 0
                        user_count = user.uid.gsub('[','').gsub(']','').split(', ').count if user.uid != nil
                        user_rate  = user_count.to_f / 1000.to_f
                        user_percentage = number_to_percentage(user_rate, precision: 4, significant: true, strip_insignificant_zeros: true)
                    %>
                    <div class="lv-item">
                        <div class="lv-title m-b-5"><%= user.name %> (<%= user_count %>개)</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= user_percentage.to_s.gsub('%','') %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= user_percentage %>">
                                <span class="sr-only"><%= user_count %> Complete (success)</span>
                            </div>
                        </div>
                    </div>
                    <% end %>

                    <!--                    
                    <div class="lv-item">
                        <div class="lv-title m-b-5">Sunwoo</div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="lv-item">
                        <div class="lv-title m-b-5">DaeGeun</div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="sr-only">90% Complete (success)</span>
                            </div>
                        </div>
                    </div>

                    <div class="lv-item">
                        <div class="lv-title m-b-5">WHO'S NEXT?</div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">0% Complete (success)</span>
                            </div>
                        </div>
                    </div>-->
                </div>

                <a class="lv-footer" href="">모두 보기</a>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h2>STEP 2. 음악 번호들 채우기( search )<small> 노래방 번호와 지니뮤직 번호를 찾아서 입력하기 위해 이 테이블을 사용하세요.<br> 링크를 클릭해 이동한 페이지에서 번호을 확인하고 입력하면 됩니다!</small></h2>
                <%#= form_tag({ action: 'ajax_search' }, remote: true) do %>
                    <%#= text_field_tag :query, '', size: 30, id: :search_input, onchange: "$(this).search(this.value);" %>
                    <%#= submit_tag 'SEARCH!' %>
                <%# end %>
                <input id="sea" type="text" name="query" size="30">
                <span id="flash"></span>
            </div>
    
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>노래방 번호</th>
                            <!--<th>노래방번호 입력</th>-->
                            <th>지니뮤직 번호</th>
                            <th>지니번호 입력</th>
                            <th>저장</th>
                            <th>못찾겠다</th>
                        </tr>
                    </thead>
                    <tbody id="result">
                        <tr>
                            <td colspan="8" align="center">검색어를 입력해주세요 ~~ **</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#sea").click(function() {
                //   alert("jfjf");
                });
                
                // $("#submitInput").click(function() {
                //     alert('ㅇㅇㅁㅇㅁㅁㅇ');
                // });
                
                $(".counter").change(function() {
                    alert('bar');
                    // var id = $(this).attr("href");
                });
            });
        </script>
        <!--음역대 입-출력 Table-->
        <!--<div class="card">-->
        <!--    <table class="table tabli-striped table-vmiddle">-->
        <!--        <tbody>-->
        <!--            <tr id="key_form_tr" style="/*display:none;*/ background:#00bcd4; font-weight:bold; font-size:15px;">-->
        <!--                <form action="/song/song_save<%= "/" + @mod_song.id.to_s if params[:mod] != nil %>" method="post" class="form form-control">-->
        <!--                    <td style="color:#fff; background-color:#00a5bb;text-align: center;font-size: 20px;padding: 0;width: 15%;"><%= "신곡추가" if params[:mod] == nil %><%= "정보수정" if params[:mod] != nil %></td>-->
        <!--                    <td style="width:23.5%;padding-bottom: 10px;">-->
        <!--                        <div class="input-group fg-float">-->
        <!--                            <span class="input-group-addon"><i class="zmdi zmdi-audio"></i></span>-->
        <!--                            <div class="fg-line">-->
        <!--                                <input type="text" name="title" class="form-control" value="<%= @mod_song.title if params[:mod] != nil %>">-->
        <!--                                <label class="fg-label" style="color:#fff;">제목</label>-->
        <!--                            </div>-->
        <!--                        </div>-->
                                <!--<input type="text"  value="" placeholder="제목" class="">-->
        <!--                    </td>-->
        <!--                    <td style="width:23.5%;padding-bottom: 10px;">-->
        <!--                        <div class="input-group fg-float">-->
        <!--                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>-->
        <!--                            <div class="fg-line">-->
        <!--                                <input type="text" name="artist" class="form-control" value="<%= @mod_song.artist.artist_num if params[:mod] != nil %>">-->
        <!--                                <label class="fg-label" style="color:#fff;">아티스트</label>-->
        <!--                            </div>-->
        <!--                        </div>-->
                                <!--<input type="text" name="artist" value="" placeholder="아티스트">-->
        <!--                    </td>-->
        <!--                    <td style="width:9.5%;padding-bottom: 10px;">-->
        <!--                        <div class="input-group fg-float">-->
        <!--                            <span class="input-group-addon"><i class="zmdi zmdi-trending-down"></i></span>-->
        <!--                            <div class="fg-line">-->
        <!--                                <input type="text" name="lowkey" class="form-control" value="<%= @mod_song.lowkey if params[:mod] != nil %>">-->
        <!--                                <label class="fg-label" style="color:#fff;">낮은키</label>-->
        <!--                            </div>-->
        <!--                        </div>-->
                                <!--<input type="text" name="lowkey" value="" placeholder="낮은키">-->
        <!--                    </td>-->
        <!--                    <td style="width:9.5%;padding-bottom: 10px;">-->
        <!--                        <div class="input-group fg-float">-->
        <!--                            <span class="input-group-addon"><i class="zmdi zmdi-trending-up"></i></span>-->
        <!--                            <div class="fg-line">-->
        <!--                                <input type="text" name="highkey" class="form-control" value="<%= @mod_song.highkey if params[:mod] != nil %>">-->
        <!--                                <label class="fg-label" style="color:#fff;">높은키</label>-->
        <!--                            </div>-->
        <!--                        </div>-->
                                <!--<input type="text" name="highkey" value="" placeholder="높은키">-->
        <!--                    </td>-->
                            <!--<td style="width:9.5%;">노래방 번호</td>-->
                            <!--<td style="width:9.5%;">지니넘버</td>-->
                            <!--<td><input type="submit" value="저장" style="background:#2196f3; border-radius:5px; border:none; width:65px; height:40px; color:#fff;"></td>-->
        <!--                    <td style="padding-top: 20px;"><button type="submit" class="btn bgm-orange btn-icon waves-effect waves-circle waves-float" style="float: right;right: 20px;"><i class="zmdi zmdi-check"></i></button></td>-->
        <!--                </form>-->
        <!--            </tr>-->
        <!--        </tbody>-->
        <!--    </table>-->
            <!--<div class="card-header">-->
            <!--    <h2>STEP 1. 노래별 음역대 <small>노래별 음역대를 입력하고 등록된 노래를 확인하는 테이블 입니다.(임시로 장르 "가요" 만 출력)</small></h2>-->
            <!--</div>-->
            <!--<table id="data-table-command" class="table table-striped table-vmiddle">-->
            <!--    <thead>-->
            <!--        <tr>-->
            <!--            <th data-column-id="id" data-type="numeric" data-order="desc">ID</th>-->
            <!--            <th data-column-id="sender">Title</th>-->
            <!--            <th data-column-id="artist">Artist</th>-->
            <!--            <th data-column-id="lowkey">LowKey</th>-->
            <!--            <th data-column-id="highkey">HighKey</th>-->
            <!--            <th data-column-id="song_tjnum" data-formatter="songtjNum" data-sortable="false">songtjNum</th>-->
            <!--            <th data-column-id="song_num" data-formatter="songNum" data-sortable="false">songNum</th>-->
            <!--            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>-->
            <!--        </tr>-->
            <!--    </thead>-->
            <!--    <tbody>-->
                    <%# @songs.reverse.each do |song| %>
            <!--        <tr>-->
                        <td><%#= song.id %></td>
                        <td><%#= song.title %></td>
                        <td><%#= song.artist_name %></td>
                        <td><%#= song.lowkey %></td>
                        <td><%#= song.highkey %></td>
                        <td><%# if song.song_tjnum != nil %><%#= song.song_tjnum %><%# else %><%# end %></td>
                        <td><%#= song.song_num %></td>
            <!--        </tr>-->
                    <%# end %>
            <!--    </tbody>-->
            <!--</table>-->
        <!--</div>-->
        
        <!--노래방 번호 + 지니 번호 찾기 테이블-->
        <!--<div class="card">-->
        <!--    <div class="card-header">-->
        <!--        <h2>STEP 2. 음악 번호들 채우기( 인기차트 )<small> 노래방 번호와 지니뮤직 번호를 찾아서 입력하기 위해 이 테이블을 사용하세요.<br> 링크를 클릭해 이동한 페이지에서 번호을 확인하고 입력하면 됩니다!</small></h2>-->
        <!--    </div>-->
    
        <!--    <div class="table-responsive">-->
        <!--        <table class="table table-striped">-->
        <!--            <thead>-->
        <!--                <tr>-->
        <!--                    <th>ID</th>-->
        <!--                    <th>Title(DTPR)</th>-->
        <!--                    <th>Artist(SONG)</th>-->
        <!--                    <th>노래방 번호</th>-->
        <!--                    <th>노래방번호 입력</th>-->
        <!--                    <th>지니뮤직 번호</th>-->
        <!--                    <th>지니번호 입력</th>-->
        <!--                    <th>저장</th>-->
        <!--                    <th>못찾겠다</th>-->
        <!--                </tr>-->
        <!--            </thead>-->
        <!--            <tbody>-->
                        <%# @popular_songs.first(10).each do |ranker| %>
        <!--                <tr>-->
                            <!--<form action="/song/song_num_save/<%#= ranker[2].id %>" method="POST">-->
                            <!--    <td><%#= ranker[0].symd.first(7) %> /<%#= ranker[0].song_rank %>위</td>-->
                            <!--    <td><%#= ranker[0].song_title %></td>-->
                            <!--    <th><%#= ranker[2].artist_name %></th>-->
    
                                <%# if ranker[2].song_tjnum.nil? %>
                                <!--<td><a href="<%#= ranker[2].song_tjnum %>" target="_blank" class="btn bgm-green waves-effect">노래방 찾기!</a></td>-->
                                <%# else %>
                                <!--<td><%#= ranker[2].song_tjnum %></td>-->
                                <%# end %>
        <!--                        <th style="width:200px;">-->
        <!--                            <div class="input-group fg-float">-->
        <!--                                <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>-->
        <!--                                <div class="fg-line">-->
        <!--                                    <input type="text" name="tjNum" class="form-control">-->
        <!--                                    <label class="fg-label" style="color:#000;">노래방 번호</label>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </th>-->
                                <%# if ranker[2].song_num.nil? %>
                                <!--<td><a href="http://www.genie.co.kr/search/searchMain?query=<%#= ranker[2].title %>%20<%#= ranker[2].artist_name %>&x=0&y=0" target="_blank" class="btn bgm-green waves-effect">노래 찾기!</a></td>-->
                                <%# else %>
                                <!--<td><%#= ranker[2].song_num %></td>-->
                                <%# end %>
        <!--                        <th style="width:200px;">-->
        <!--                            <div class="input-group fg-float">-->
        <!--                                <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>-->
        <!--                                <div class="fg-line">-->
        <!--                                    <input type="text" name="giniNum" class="form-control">-->
        <!--                                    <label class="fg-label" style="color:#000;">지니뮤직 번호</label>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </th>-->
        <!--                        <th><button type="submit" class="btn bgm-orange waves-effect">저장</button></th>-->
                                <!--<td><a href="/we/admin2/cannotFind_on_ginnie/<%#= ranker[2].id %>" class="btn bgm-red waves-effect">꽤꼬리!</a></td>-->
        <!--                    </form>-->
        <!--                </tr>-->
                        <%# end %>
        <!--            </tbody>-->
        <!--        </table>-->
        <!--    </div>-->
        <!--</div>-->
    
        <!--노래방 번호 + 지니 번호 찾기 테이블-->
        <div class="card">
            <div class="card-header">
                <h2>STEP 2. 음악 번호들 채우기<small> 노래방 번호와 지니뮤직 번호를 찾아서 입력하기 위해 이 테이블을 사용하세요.<br> 링크를 클릭해 이동한 페이지에서 번호을 확인하고 입력하면 됩니다!</small></h2>
            </div>
    
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>노래방 번호</th>
                            <!--<th>노래방번호 입력</th>-->
                            <th>지니뮤직 번호</th>
                            <th>지니번호 입력</th>
                            <th>저장</th>
                            <th>못찾겠다</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%# @miss_songs.first(15).each do |miss| %>
                        <% Song.first(1).each do |miss| %>
                        <tr>
                            <form action="/song/song_num_save/<%= miss.id %>" method="POST">
                                <td><%= miss.id %></td>
                                <td><%= miss.title %></td>
                                <th><%= miss.artist_name %></th>
    
                                <% if miss.song_tjnum.nil? %>
                                <td><a href="<%= miss.song_tjnum %>" target="_blank" class="btn bgm-green waves-effect">노래방 찾기!</a></td>
                                <% else %>
                                <td><%= miss.song_tjnum %></td>
                                <% end %>
                                <!--<th style="width:200px;">
                                    <div class="input-group fg-float">
                                        <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
                                        <div class="fg-line">
                                            <input type="text" name="tjNum" class="form-control">
                                            <label class="fg-label" style="color:#000;">노래방 번호</label>
                                        </div>
                                    </div>
                                </th>-->
                                <% if miss.song_num.nil? %>
                                <td><a href="http://www.genie.co.kr/search/searchMain?query=<%= miss.title %>%20<%= miss.artist_name %>&x=0&y=0" target="_blank" class="btn bgm-green waves-effect">노래 찾기!</a></td>
                                <% else %>
                                <td><%= miss.song_num %></td>
                                <% end %>
                                <th style="width:200px;">
                                    <div class="input-group fg-float">
                                        <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
                                        <div class="fg-line">
                                            <input type="text" name="giniNum" class="form-control">
                                            <label class="fg-label" style="color:#000;">지니뮤직 번호</label>
                                        </div>
                                    </div>
                                </th>
                                <th><button type="submit" class="btn bgm-orange waves-effect">저장</button></th>
                                <td><a href="/we/admin2/cannotFind_on_ginnie/<%= miss.id %>" class="btn bgm-red waves-effect">꽤꼬리!</a></td>
                            </form>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Data Table -->
<script type="text/javascript">
$(document).ready(function(){
    //Basic Example
    $("#data-table-basic").bootgrid({
        css: {
            icon: 'zmdi icon',
            iconColumns: 'zmdi-view-module',
            iconDown: 'zmdi-expand-more',
            iconRefresh: 'zmdi-refresh',
            iconUp: 'zmdi-expand-less'
        },
    });

    //Selection
    $("#data-table-selection").bootgrid({
        css: {
            icon: 'zmdi icon',
            iconColumns: 'zmdi-view-module',
            iconDown: 'zmdi-expand-more',
            iconRefresh: 'zmdi-refresh',
            iconUp: 'zmdi-expand-less'
        },
        selection: true,
        multiSelect: true,
        rowSelect: true,
        keepSelection: true
    });

    //Command Buttons
    var data_grid = $("#data-table-command").bootgrid({
        css: {
            icon: 'zmdi icon',
            iconColumns: 'zmdi-view-module',
            iconDown: 'zmdi-expand-more',
            iconRefresh: 'zmdi-refresh',
            iconUp: 'zmdi-expand-less'
        },
        formatters: {
            "commands": function(column, row) {
                return "<a href=\"/admin/songs_info?mod=" + row.id + "\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></a> " +
                "<a href=\"/song/song_delete/" + row.id + "\" class=\"btn btn-icon command-delete waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></a>";
            }
        }
    }).on("loaded.rs.jquery.bootgrid", function(){
        /* Executes after data is loaded and rendered */
        data_grid.find(".command-edit").on("click", function(e){
            alert("수정하실 노래는 " + $(this).data("row-id") + "번 곡 입니다.");
        }).end().find(".command-delete").on("click", function(e){
            alert($(this).data("row-id") + " 번 곡을 정말 삭제하시겠습니까?");
        });
    });
});
</script>
<script> // #grid-command-buttons
var grid = $("#grid-command-buttons").bootgrid({
    ajax: true,
    post: function (){
        return {
            id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
        };
    },
    url: "/api/data/basic",
    formatters: {
        "commands": function(column, row){
            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></button> " +
            "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-trash-o\"></span></button>";
        }
    }
}).on("loaded.rs.jquery.bootgrid", function(){
    /* Executes after data is loaded and rendered */
    grid.find(".command-edit").on("click", function(e){
        alert("You pressed edit on row: " + $(this).data("row-id"));
    }).end().find(".command-delete").on("click", function(e){
        alert("You pressed delete on row: " + $(this).data("row-id"));
    });
});

</script>


