<!-- 캐러셀 슬라이드 -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <% arr = [
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/811/068/80811068_1461316611366_1_600x600.JPG",
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/810/919/80810919_1461028312733_1_600x600.JPG",
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/796/234/80796234_1456909197595_1_600x600.JPG",
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/784/293/80784293_1453884534908_1_600x600.JPG",
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/816/994/80816994_1462867790768_1_600x600.JPG"
        ]%>
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">-->
    <!--    <%# i = 0 %>-->
    <!--    <%# @carousel.each do |c| %>-->
    <!--    <li data-target="#myCarousel" data-slide-to="<%#= i %>"></li>-->
    <!--    <%# i += 1 %>-->
    <!--    <%# end %>-->
    <!--</ol>-->
    <div class="carousel-inner" role="listbox" style="z-index:-1">
        <% i = 0 %>
        <% @carousel.each do |song| %>
        <% album = Album.find(song.album_id) %>
        <div class="item <%= "active" if i == 0 %>">
            <div class="first-slide slide-background">
                <div class="blur" style="background-image: url(<%= album.jacket %>);">
                    <!--<img class="slide-focus-img" src="<%#= song.jacket %>" alt="Third slide">-->
                </div>
                <div class="slide-background-blur">
                    <img class="slide-focus-img" src="<%= song.jacket %>" alt="Third slide">
                    <div class="content_box">
                        <div class="content_box-label">
                            <span class="label_m">&nbsp;</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="carousel-caption carousel-details">
                    <span class="c-left carousel-rank" style="<%= "margin-right: 7%;" if i == 0 %><%= "margin-right: 9%;" if i >= 9 %>">
                    <% if i == 0 %>
                        <em>BEST!</em>
                    <% else %>
                        <%= i + 1 %>위
                    <% end %>
                    </span>
                    <% title = song.title.split('(').first.strip %>
                    <h1 class="c-left carousel-title"><% if title.length > 13 %><%= title.first(13) + " ..." %><% else %><%= title %><% end %></h1>
                    <!--<h1 class="c-left carousel-title"><%#= title %></h1>-->
                    <p class="c-left carousel-artist"><%= album.artist_name %></p>
                    <!--<p class="c-left carousel-album">앨범명: <%#= album.title %></p>-->
                    <p class="c-left carousel-getlist"><code><%= i+1 %>,<%= (1..9).to_a.sample %><%= (1..9).to_a.sample %><%= (1..9).to_a.sample %></code>명의 리스트에 라인업<i>!</i></p>
                    <p class="c-left carousel-singNum">번호 <%= song.song_tjnum %></p>
                    <a class="btn btn-sm btn-default btn-lineUp-carousel" href="#" role="button"><em>Line<br>up!</em></a>
                </div>
            </div>
        </div>
        <% i += 1 %>
        <% end %>
        
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <div class="search_f">
        <div class="row">
            <div class="col-md-4 col-sm-1"></div>
            <div class="col-md-4 col-sm-10">
                <div class="col-md-2"></div>
                <div class="col-md-10 col-sm-12">
                    <div class="search_form">
                        <input class="main_search_input" type="text">
                        <input class="main_search_submit" type="submit" value="">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-1"></div>
        </div>
    </div>
</div><!-- /.캐러셀 슬라이드 -->