<!--a_row : 한 줄에 몇 개 보여주고 싶은가 ( 1,2,3,4,6,12 )-->
<% a_row = 4 %>
<% row = 12/a_row %>
<% c = 5 %>

<div class="col-md-2"></div>
<div class="col-md-8">
    <% 6.times do |num| %>
        <% if num == 0 %>
            <div class="row">
                <div class="col-md-6" style="padding:0% 6px;">
                    <%= render 'home/song_card', :locals => {:img_path => @song[0].jacket, tag: 1, title: @song[0].title, singer: Album.find(@song[0].album_id).artist_name, number: @song[0].song_tjnum, id: @song[0].id} %>
                </div>
                <div class="col-md-6">
                    <% 2.times do |rr_num| %>
                        <%
                            if rr_num == 0
                                tagNum = 2
                                tagNum1 = 3
                            else
                                tagNum = 0
                                tagNum1 = 0
                            end
                        %>
                        <div class="row">
                            <div class="col-md-6" style="padding:0% 5px;">
                                <%= render 'home/song_card', :locals => {:img_path => @song[(rr_num+1)*2-1].jacket, tag: tagNum, title: @song[(rr_num+1)*2-1].title, singer: Album.find(@song[(rr_num+1)*2-1].album_id).artist_name, number: @song[(rr_num+1)*2-1].song_tjnum, id: @song[(rr_num+1)*2-1].id} %>
                            </div>
                            <div class="col-md-6" style="padding:0% 5px;">
                                <%= render 'home/song_card', :locals => {:img_path => @song[(rr_num+1)*2].jacket, tag: tagNum1, title: @song[(rr_num+1)*2].title, singer: Album.find(@song[(rr_num+1)*2].album_id).artist_name, number: @song[(rr_num+1)*2].song_tjnum, id: @song[(rr_num+1)*2].id} %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% else %>
            <div class="row">
                <% a_row.times do |r_num| %>
                    <div class="col-md-<%= row %> col-sm-<%= row %>" style="padding:0% 5px;">
                        <%= render 'home/song_card', :locals => {:img_path => @song[c].jacket, tag: 0, title: @song[c].title, singer: Album.find(@song[c].album_id).artist_name, number: @song[c].song_tjnum, id: @song[c].id} %>
                    </div>
                    <% c += 1 %>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
<div class="col-md-2"></div>