<% if locals[:tag] == 1 %>
    <!-- 1위 -->
    <div class="song1_card_container" onclick="$(this).myModal(<%= locals[:id].to_i %>);" data-toggle="modal" data-target="#SongDetailModal">
        <img src="<%= locals[:img_path] %>" class="song1_card_img-r">
        <div class="song1_card_img">
            <div style="height:10px;"></div>
            <div class="song1_card_tag"><span class="song1_card_tag_text"><em>BEST!</em></span></div>
        </div>
        <div class="song1_card_contents">
            <p class="song1_card_content"><%= locals[:title] %><span class="song1_card_icon"></span></p>
            <p class="song1_card_content"><%= locals[:singer] %></p>
            <p class="song1_card_content">번호 <%= locals[:number] %></p>
        </div>
    </div>
    <!-- ./1위 -->
<% else %>
    <div class="song_card_container" onclick="$(this).myModal(<%= locals[:id].to_i %>);" data-toggle="modal" data-target="#SongDetailModal">
        <img src="<%= locals[:img_path] %>" class="song_card_img-r">
        <div class="song_card_img">
            <% if locals[:tag] != 0 %>
                <div style="height:10px;"></div>
                <div class="song_card_tag"><span class="song_card_tag_text"><%= locals[:tag] %>위</span></div>
            <% end %>
        </div>
        
        <div class="song_card_contents">
            <p class="song_card_content"><%= locals[:title] %><span class="song_card_icon"></span></p>
            <p class="song_card_content"><%= locals[:singer] %></p>
            <p class="song_card_content">번호 <%= locals[:number] %></p>
        </div>
    </div>
<% end %>