<%= render partial: "home/home_layouts/home_header" %>
<!-- 캐러셀 슬라이드 -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <% arr = [
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/811/068/80811068_1461316611366_1_600x600.JPG",
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/810/919/80810919_1461028312733_1_600x600.JPG",
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/796/234/80796234_1456909197595_1_600x600.JPG",
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/784/293/80784293_1453884534908_1_600x600.JPG",
        "http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/816/994/80816994_1462867790768_1_600x600.JPG"
        ]%>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <% i = 0 %>
        <% @carousel.each do |c| %>
        <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
        <% i += 1 %>
        <% end %>
    </ol>
    <div class="carousel-inner" role="listbox">
        <% i = 0 %>
        <% @carousel.each do |song| %>
        <% album = Album.find(song.album_id) %>
        <div class="item <%= "active" if i == 0 %>">
            <div class="first-slide slide-background" style="background-image: url(<%= album.jacket %>);">
                <div class="slide-background-blur">
                    <img class="slide-focus-img" src="<%= song.jacket %>" alt="Third slide">
                </div>
            </div>
            <div class="container">
                <div class="carousel-caption carousel-details">
                    <p class="c-left carousel-artist">
                    <% if i == 0 %>
                        <em>BEST!</em>
                    <% else %>
                        <%= i + 1 %>위
                    <% end %>
                    </p>
                    <h1 class="c-left carousel-title"><%= song.title %> <code>번호 <%= song.song_tjnum %></code></h1>
                    <p class="c-left carousel-artist"><%= album.artist_name %></p>
                    <p class="c-left carousel-album">앨범명: <%= album.title %></p>
                    <p class="c-left carousel-getlist"><code><%= 8-i %>,<%= 9-i %><%= 2+i %><%= i %></code>명의 리스트에 라인업<i>!</i></p>
                    <p class="c-left"><a class="btn btn-lg btn-primary" href="#" role="button"><em>Line up!</em></a></p>
                </div>
            </div>
        </div>
        <% i += 1 %>
        <% end %>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.캐러셀 슬라이드 -->

<!-- 본문 네비게이션 -->
<header style="height:55px;">
    <div class="container" style="height:100%; padding:0% 10%;">
        <div class="row" style="height:90%;margin: 0px;">
            <div class="col-lg-3 f-tabs f-tabs-tab" id="tab-most_popular">
                <span id="text-most_popular">노래방 인기차트</span>
            </div>
            <div class="col-lg-3 f-tabs f-tabs-tab" id="tab-monthly_new">
                <span id="text-monthly_new">이달의 신곡</span>
            </div>
            <div class="col-lg-3 f-tabs f-tabs-tab" id="tab-theme_pick">
                <span id="text-theme_pick">테마별 선곡표</span>
            </div>
            <div class="col-lg-3 f-tabs f-tabs-tab" id="tab-category">
                <span id="text-category">카테고리별 노래</span>
            </div>
        </div>
        <div class="row" style="height:10%;margin: 0px;">
            <div id="underline-1" class="col-lg-3 f-tabs f-tabs-active">&nbsp;</div>
            <div id="underline-11" class="col-lg-3 f-tabs" style="display:none;">&nbsp;</div>
            
            <div id="underline-2" class="col-lg-3 f-tabs f-tabs-active" style="display:none;">&nbsp;</div>
            <div id="underline-22" class="col-lg-3 f-tabs">&nbsp;</div>
            
            <div id="underline-3" class="col-lg-3 f-tabs f-tabs-active" style="display:none;">&nbsp;</div>
            <div id="underline-33" class="col-lg-3 f-tabs">&nbsp;</div>
            
            <div id="underline-4" class="col-lg-3 f-tabs f-tabs-active" style="display:none;">&nbsp;</div>
            <div id="underline-44" class="col-lg-3 f-tabs">&nbsp;</div>
        </div>
    </div>
</header><!-- /.본문 네비게이션 -->

<!-- 노래방 인기 차트 -->
<section id="most_popular">
    <div id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>노래방 인기차트</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <% if @ranker.count != 0 %>
                    <% @ranker.each do |r| %>
                    <div class="col-sm-4 portfolio-item <%= @ranker.count %>">
                        <a href="#portfolioModal<%= r.id %>" class="portfolio-link img-ranker-wrap" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="<%= r.jacket %>" class="img-responsive img-ranker" alt="">
                        </a>
                    </div>
                    <% end %>
                <% else %>
                    <div class="col-sm-4 portfolio-item <%#= @ranker.count %>">
                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cake.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/circus.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/game.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/safe.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/submarine.png" class="img-responsive" alt="">
                        </a>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section><!-- /.노래방 인기 차트 -->

<!-- 이달의 신곡-->
<section id="monthly_new" style="display:none;">
    <div id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>이달의 신곡</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h2>이달의 신곡</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h2>이달의 신곡</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h2>이달의 신곡</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</section><!-- /.이달의 신곡-->

<!-- 테마별 선곡표 -->
<section id="theme_pick" style="display:none;">
    <div id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>테마별 선곡표</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
            
            <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
            
            <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
        </div>
    </div>
</section><!-- /.테마별 선곡표 -->

<!-- 카테고리별 노래 -->
<section id="category" style="display:none;">
    <div id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>카테고리별 노래</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
            
            <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
            
            <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>
        </div>
    </div>
</section><!-- /.카테고리별 노래 -->

<script>
    $("#tab-most_popular").click(function(){
        $("#most_popular").fadeIn("fast",function(){
            $("#underline-1").show("fast");
            $("#underline-11").hide();
        });
        
        $("#monthly_new").hide();
        $("#underline-2").hide();
        $("#underline-22").show();
        
        $("#theme_pick").hide();
        $("#underline-3").hide();
        $("#underline-33").show();
        
        $("#category").hide();
        $("#underline-4").hide();
        $("#underline-44").show();
    });
    
    $("#tab-monthly_new").click(function(){
        $("#most_popular").hide();
        $("#underline-1").hide();
        $("#underline-11").show();
        
        $("#monthly_new").fadeIn("fast",function(){
            $("#underline-2").show("fast");
            $("#underline-22").hide();
        });
        
        $("#theme_pick").hide();
        $("#underline-3").hide();
        $("#underline-33").show();
        
        $("#category").hide();
        $("#underline-4").hide();
        $("#underline-44").show();
    });
    
    $("#tab-theme_pick").click(function(){
        $("#most_popular").hide();
        $("#underline-1").hide();
        $("#underline-11").show();
        
        $("#monthly_new").hide();
        $("#underline-2").hide();
        $("#underline-22").show();
        
        $("#theme_pick").fadeIn("fast",function(){
            $("#underline-3").show("fast");
            $("#underline-33").hide();
        });
        
        $("#category").hide();
        $("#underline-4").hide();
        $("#underline-44").show();
    });
    
    $("#tab-category").click(function(){
        $("#most_popular").hide();
        $("#underline-1").hide();
        $("#underline-11").show();
        
        $("#monthly_new").hide();
        $("#underline-2").hide();
        $("#underline-22").show();
        
        $("#theme_pick").hide();
        $("#underline-3").hide();
        $("#underline-33").show();
        
        $("#category").fadeIn("fast",function(){
            $("#underline-4").show("fast");
            $("#underline-44").hide();
        });
    });
</script>

<%= render partial: "home/home_layouts/home_footer" %>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="http://bootstrapk.com/assets/js/vendor/holder.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://bootstrapk.com/assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="http://blackrockdigital.github.io/startbootstrap-freelancer/js/classie.js"></script>
<script src="http://blackrockdigital.github.io/startbootstrap-freelancer/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="http://blackrockdigital.github.io/startbootstrap-freelancer/js/jqBootstrapValidation.js"></script>
<script src="http://blackrockdigital.github.io/startbootstrap-freelancer/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="http://blackrockdigital.github.io/startbootstrap-freelancer/js/freelancer.js"></script>