<div id="header" class="">
    <div class="for-popup-scroll-area-margin">
        <div class="inner responsive-mask">
            <ul class="gnb clearfix">
                <li class="navi-item home <%= "on" if params[:action] == "main2" || params[:action] == "" %>">
                    <a href="/gorae/main2">
                        <!--<img src="" width="30" height="30">-->
                        <%= image_tag "gorae/logo_goraemic_roundzoomin.png", width: "30", height: "30" %>
                    </a>
                    <span class="highlight"></span>
                </li>
                <li class="navi-item boxoffice <%= "on" if params[:action] == "rank" %>">
                    <a href="/gorae/rank">고래방 CHART</a>
                    <span class="highlight"></span>
                </li>
                <li class="navi-item genre <%= "on" if params[:action] == "recommendation" %>">
                    <!--<a href="/recommendation">추천음악</a>-->
                    <a href="/gorae/recommendation">TODAY 추천곡</a>
                    <span class="highlight"></span>
                </li>
                <li class="navi-item evalmore <%= "on" if params[:action] == "evalmore" %>">
                    <a href="/evalmore">불러봤더니 어때</a>
                    <span class="highlight"></span>
                </li>
                <li class="navi-item mylist <%= "on" if params[:action] == "mylist" %>">
                    <a href="/gorae/mylist">마이 리스트</a>
                    <span class="highlight"></span>
                </li>
                <li class="navi-item evalmore">
                    <a href="/admin/admin_login">팀&nbsp;&nbsp;4D</a>
                    <span class="highlight"></span>
                </li>
            </ul>

            <!--서치 폼-->
            <form accept-charset="UTF-8" action="/gorae/search" id="search-form" method="get">
                <div class="input-wrapper">
                    <input id="input-query" name="query" type="search" autocomplete="off" class="ui-autocomplete-input">
                    <span id="search-icon"></span>
                </div>
            </form>

            <div id="gnb-right-menu" class="right-menu">
                <div class="menu partner ">
                    <img class="thumbnail partner" src='' width="30" height="30" onerror="utils.loadDefaultImg(this, 'thumb');">
                    <span class="movie-partner-btn">음악친구 설정하기</span>
                    <span class="highlight"></span>
                    <div class="dropdown">
                        <span class="title">무비파트너 설정</span>
                        <div class="thumbnails">
                            <img class="thumbnail my" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" width="50" height="50" onerror="utils.loadDefaultImg(this, 'thumb');">
                            <img class="thumbnail partner" src="" width="50" height="50" onerror="utils.loadDefaultImg(this, 'thumb');">
                            <span class="movie-partner-btn">음악친구 설정하기</span>
                        </div>
                        <p class="desc prevent-delete">
                            <%= current_user.name %>
                        </p>
                        <p class="desc induce-register">
                            무비파트너를 설정하세요.<br>
                            취향 매칭율과 친구의 예상 별점을 알려드려요. :)
                        </p>
                        <button class="btn">
                            설정하기
                        </button>
                    </div>
                </div>
                <div class="menu my">
                    <a href="/v2/users/mHLmUJXckMA1" class="name">
                        <%#= current_user.name %>
                        <img class="thumbnail" src="https://d12hfz37g51hrt.cloudfront.net/assets/default/user/photo_small-eb39055bd595b4f8b1a0d54e41ecf088.jpg" width="30" height="30" onerror="utils.loadDefaultImg(this, 'thumb');">
                    </a>
                    <span class="highlight"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="/gorae/mylist">음악보관함</a>
                                <span class="count">2</span>
                            </li>
                            <li>
                                <a href="/giftbox">선물함</a>
                            </li>
                            <li class="divide-line">
                                <a href="#" onclick="InviteFriend.popupInviteFriend(event);">친구초대</a>
                            </li>
                            <li class="divide-line">
                                <a href="#" class="setting">설정</a>
                            </li>
                            <li>
                                <a href="/users/sign_out">로그아웃</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
