<!-- New devise/sessions/new.html.erb start -->
<div class="col-md-12" style="padding:0px;">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-md-4 col-sm-6">
        <!-- Logo -->
        <img src="../img/icon/logo_temp2.png" style="padding: 20% 17% 0% 17%; width:100%;">
        <!-- /users/sign_in 으로 넘깁시다. -->
        <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input type="hidden" name="utf8" type="hidden" value="&#x2713;"/><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <!-- devise login 시작 부분 -->
            <div class="field" style="padding:50px 44px 30px 44px; margin:5% 14.5% 35% 14.5%; background: rgba(255, 255, 255, 0.7); border-radius: 5px; border: 1px solid #ebebeb;">
                <input autofocus="autofocus" type="email" name="user[email]" class="form-control_f" id="user_email" placeholder="이메일을 입력하세요" style="margin-bottom:20px;">
                <input autocomplete="off" type="password" name="user[password]" class="form-control_f" id="user_password" placeholder="비밀번호를 입력하세요" style="margin-bott om:10px;">
                <div style="margin-bottom: 15px;">
                    <div type="field" style="padding-top: 4px; float:left;">
                        <input type="hidden" name="user[remember_me]"  type="hidden" value="0" style="margin:0px 5px;" /><input type="checkbox" name="user[remember_me]"  type="hidden" value="1" id="user_remember_me" style="margin:0px 5px;" />
                    </div>
                    <span style="font-size:16px;">이메일 저장</span>
                </div>
                <div class="actions">
                    <input type="submit" name="commit" value="로그인" class="login_for_what" style="background: #00a1ff; margin-bottom:11%;">
                </div>
                <div style="border-top:1px solid rgba(125, 125, 125, 0.5); border-bottom:1px solid rgba(125, 125, 125, 0.5); padding:10px 0px 0px 0px;">
                    <button class="login_for_what" style="background: #556d9c;">페이스북 로그인</button>

                    <button class="login_for_what" style="background: #b2ae40;">카카오톡 로그인</button>
                </div>
                <div style="margin:15px 0px 0px 0px;">
                    <a href="/users/sign_up" class="else_sign_match_btn" style="">회원가입</a>
                    <a class="else_sign_match_btn" style="float:right;">비밀번호 찾기</a>
                </div>
            </div>
            <!-- devise 로그인 마지막 부분 -->
        </form>
        <div style="margin: 15% 12% 25% 12%;  border-radius: 3px;"></div>
    </div>
    <div class="col-md-4 col-sm-3"></div>
</div>

<!--footer-->
<div class="col-md-12" style="height:55px; background:#3b3a3c; position:fixed; bottom:0px;">
    <ul id="footer_ul">
        <!--more 고래고래-->
        <li>
            <button >More 고래방</button>
            <ul style="display:none;">
                <li>회사소개</li>
                <li>이용약관</li>
                <li>저작권 관련정책</li>
                <li>고객센터</li>
            </ul>
        </li>
        <li>
            <button>광고문의</button>
        </li>
        <li>
            <button>제휴문의</button>
        </li>
        <li>
            <button>개인 정보 취급방침</button>
        </li>
        <li style="">
            <button>App Download</button>
        </li>
        <li style="float:right; width:20%;">
            <img src="http://www.deejay.it/wp-content/uploads/2015/10/App-store-logo.png" style="width:40%; margin-right: 1%; margin-top:3px; height:100%; float:right;">
            <img src="http://vantage.millpoo.com/assets/images/common/googleplay_icon.png" style="width:40%; margin-right: 1%; margin-top:3px; height:100%; float:right;">
        </li>
    </ul>
</div>
<!-- Default 'new.html.erb' source code Start -->
<!-- <h2>로그인!!!!!!!!</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="field">
<%= f.label :email, '이메일' %><br />
<%= f.email_field :email, autofocus: true %>
</div>

<div class="field">
<%= f.label :password, '패스워드' %><br />
<%= f.password_field :password, autocomplete: "off" %>
</div>

<% if devise_mapping.rememberable? -%>
<div class="field">
<%= f.check_box :remember_me %>
<%= f.label :remember_me %>
</div>
<% end %>
<div class="actions">
<%= f.submit "Log in" %>
</div>
<% end %>

<%= render "devise/shared/links" %> -->
<!-- Default 'new.html.erb' source code End -->
