<!DOCTYPE html>
<html>
    <head>
        <title>고래방 :: 오늘도 노래방을 부탁해!</title>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>

        <!-- 합쳐지고 최소화된 최신 CSS -->
        <% if !(params[:action] == "main" || params[:action] == "EvalKey" || params[:action] == "mylist" || params[:action] == "search") %>
            <%= stylesheet_link_tag 'bootstrap/bootstrap.css' %>
        <% else %> <!-- main 이랑 EvalKey에서 사용 커스텀 된거임 -->
            <link href="freelancer.css" rel="stylesheet">
            <%= stylesheet_link_tag 'bootstrap/bootstrap.css' %>
        <% end %>
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>

        <% if params[:action] == "main" || params[:action] == "mylist" || params[:action] == "EvalKey" || params[:action] == "search" %>
            <!-- Custom CSS -->
            <link href="main.css" rel="stylesheet">
        <% else %>
            <%= stylesheet_link_tag 'bootstrap/bootstrap-theme.css' %>
        <% end %>

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <%= javascript_include_tag 'bootstrap/bootstrap.js' %>


        <!-- Custom styles for this template -->
        <link href="carousel.css" rel="stylesheet">

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


        <!-- Custom Fonts -->
        <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <script>
            (function($) {
                $.fn.myModal = function(k) {

                    var id = k
                    //var title = <%#= eval("Song.find(" + id + ").title") %>
                    //$("#dddd").attr('style',  'background:#000');

                    $.ajax({
                      method: "POST",
                      url: "/home/this_song",
                      data: { song_id: id },
                      dataType: "json"
                    })
                      .done(function( msg ) {
                          var title = msg.title;
                          var tjnum = msg.song_tjnum;
                          var jacket = msg.jacket;
                        //   var artist = msg.artist.name;
                        //   var mNum = mag.song_tjnum;

                          $("#md-song_title").empty('');
                          $("#md-song_title").append(title);
                          $("#md-song_tjnum").empty('');
                          $("#md-song_tjnum").append(tjnum);
                          $(".modal-body").empty('');
                          $(".modal-body").append( "<img src=\"" + jacket + "\" style=\"width:30%; height:auto;\">" + "<br>");
                      });
                };
            })(jQuery);


        </script>
    </head>
    <body id="page-top" class="index">

        <%= yield %>

    </body>
</html>
