<!DOCTYPE html>
<html>
    <head>
        <title>고래방 :: 오늘도 노래방을 부탁해!</title>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>

        <!-- 합쳐지고 최소화된 최신 CSS -->
        <% if !(params[:action] == "main" || params[:action] == "EvalKey" || params[:action] == "mylist" || params[:action] == "search") %>
            <%= stylesheet_link_tag 'bootstrap/bootstrap.css' %>
        <% else %> <!-- main 이랑 EvalKey에서 사용 커스텀 된거임 -->
            <link href="freelancer.css" rel="stylesheet">
        <% end %>
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>

        <% if params[:action] == "main" || params[:action] == "mylist" || params[:action] == "EvalKey" || params[:action] == "search" %>
            <!-- Custom CSS -->
            <link href="main.css" rel="stylesheet">
        <% else %>
            <%= stylesheet_link_tag 'bootstrap/bootstrap-theme.css' %>
        <% end %>

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="/js/bootstrap.js"></script>


        <!-- Custom styles for this template -->
        <link href="carousel.css" rel="stylesheet">

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


        <!-- Custom Fonts -->
        <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        
        <script>
            (function($) {
                $.fn.myModal = function(k) {

                    var id = k
                    //var title = <%#= eval("Song.find(" + id + ").title") %>
                    //$("#dddd").attr('style',  'background:#000');

                    $.ajax({
                      method: "POST",
                      url: "/home/this_song",
                      data: { song_id: id },
                      dataType: "json"
                    })
                      .done(function( msg ) {
                          var title         = msg[4];
                          var tjnum         = msg[12];
                          var jacket        = msg[11];
                          var artistName    = msg[16];
                          var albumName     = msg[18];
                          var release       = msg[20];
                          var agency        = msg[22];
                          var publisher     = msg[21];
                          
                          var i = msg[24];
                        //   for(k=0, k<i, k++){
                        //       var eval("in_song" + k+1) = msg[23][0];
                        //       var eval("in_artist" + k+1) = msg[23][1];
                        //   }
                          var in_song1 = msg[23][0];
                          var in_artist1 = msg[23][1];
                          var in_song2 = msg[23][3];
                          var in_artist2 = msg[23][4];
                          var in_song3 = msg[23][6];
                          var in_artist3 = msg[23][7];
                          var in_song4 = msg[23][9];
                          var in_artist4 = msg[23][10];
                          
                          var lyrics = msg[8];
                          
                          // jacket
                          $("#md_bg_img_container").empty('');
                          $("#md_bg_img_container").attr("style", "background:url(" + jacket + ");background-size: cover;background-position: center 30%;");
                          
                          // title
                          $("#md-song_title").empty('');
                          $("#md-song_title").append(title);
                          
                          // tjNum
                          $("#md-song_tjnum").empty('');
                          $("#md-song_tjnum").append(tjnum);
                          
                          // artist.name
                          $("#md_song_artist").empty('');
                          $("#md_song_artist").append(artistName);
                          
                          // album.title
                          $("#md-song_album").empty('');
                          $("#md-song_album").append("Vol. " + albumName);
                          
                          // album.released_date
                          $("#md_song_released").empty('');
                          $("#md_song_released").append(release);
                          
                          // album.agency
                          $("#md_song_agency").empty('');
                          $("#md_song_agency").append(agency);
                          
                          // album.publisher
                          $("#md_song_publisher").empty('');
                          $("#md_song_publisher").append(publisher);
                          
                          // album.songs.count
                          $("#count_count").empty('');
                          $("#count_count").append(i);
                          
                          // album.songs.artist.name (1)
                          $("#md_song_album_in_title1").empty('');
                          $("#md_song_album_in_title1").append("1 " + in_song1);
                          $("#md_song_album_in_atrist1").empty('');
                          $("#md_song_album_in_atrist1").append("| " + in_artist1);
                          
                          // album.songs.artist.name (2)
                          $("#md_song_album_in_title2").empty('');
                          $("#md_song_album_in_title2").append(in_song2);
                          $("md_song_album_in_atrist2").empty('');
                          $("md_song_album_in_atrist2").append("| " + in_artist2);
                          
                          // album.songs.artist.name (3)
                          $("#md_song_album_in_title3").empty('');
                          $("#md_song_album_in_title3").append(in_song3);
                          $("md_song_album_in_atrist3").empty('');
                          $("md_song_album_in_atrist3").append("| " + in_artist3);
                          
                          // album.songs.artist.name (4)
                          $("#md_song_album_in_title4").empty('');
                          $("#md_song_album_in_title4").append(in_song4);
                          $("md_song_album_in_atrist4").empty('');
                          $("md_song_album_in_atrist4").append("| " + in_artist4);
                          
                          // lyrics
                          $("#md_song_lyrics").empty('');
                          $("#md_song_lyrics").append("<pre id=\"lyrics_tag\">" + lyrics + "</pre>");
                        //   $("#md_bg_img_container").empty('');
                        //   $("#md_bg_img_container").append( "<img src=\"" + jacket + "\" style=\"width:30%; height:auto;\">" + "<br>");
                      });
                };
                
                
            })(jQuery);
            
            // (function($) {
            //     $(".modal-header").click(function(){
            //         alert("ok");
            //     // },function(){
            //     //     $(".modal-backdrop").attr("style", "z-index:20000;");
            //     //     $(".modal-backdrop").click(function(){
            //     //         $(this).remove();
            //     //     });
            //     });
            // })(jQuery);


        </script>
    </head>
    <body id="page-top" class="index">

        <%= yield %>

    </body>
</html>
