<!DOCTYPE html>
<html>
<head>
    <title>고래방 :: 오늘도 노래방을 부탁해!</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <% if !(params[:action] == "main" || params[:action] == "main_temp" || params[:action] == "EvalKey" || params[:action] == "mylist" || params[:action] == "search" || params[:action] == "search2") %>
        <%= stylesheet_link_tag 'bootstrap/bootstrap.css' %>
    <% else %> <!-- main 이랑 EvalKey에서 사용 커스텀 된거임 -->
        <link href="/css/freelancer.css" rel="stylesheet">
    <% end %>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

    <% if params[:action] == "main" || params[:action] == "main_temp" || params[:action] == "mylist" || params[:action] == "EvalKey" || params[:action] == "search" || params[:action] == "search2" %>
    <!-- Custom CSS -->
        <link href="/css/main.css" rel="stylesheet">
    <% else %>
        <%= stylesheet_link_tag 'bootstrap/bootstrap-theme.css' %>
    <% end %>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="/js/bootstrap.js"></script>


    <!-- Custom styles for this template -->
    <link href="/css/carousel.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!--Modal Ajax script-->
    <script>
        
        
        (function($) {
            $.fn.myModal = function(k) {
        
                var id = k
                //var title = <%#= eval("Song.find(" + id + ").title") %>
                //$("#dddd").attr('style',  'background:#000');
                
                $.ajax({
                    method: "POST",
                    url: "/home/this_song2",
                    data: { song_id: id },
                    dataType: "json"
                })
                .done(function( json ) {
                    var song = json.Song
                    var songs = json.Songs
                    var artist = json.Artist
                    var artists = json.Artists
                    var album = json.Album
                    
                    var title         = song.title;
                    var tjnum         = song.song_tjnum;
                    var songJacket    = song.jacket;
                    var artistName    = artist.name;
                    var albumName     = album.title;
                    var albumJacket   = album.jacket;
                    var release       = album.released_date;
                    var agency        = album.agency;
                    var publisher     = album.publisher;
                    var youtube       = song.youtube;
        
                    var i = songs.length;
                    var j = 0;
                    //   for(k=0, k<i, k++){
                    //       var eval("in_song" + k+1) = msg[23][0];
                    //       var eval("in_artist" + k+1) = msg[23][1];
                    //   }
        
                    var lyrics = song.lyrics;
        
                    // jacket-background
                    $("#md_bg_img_container").empty('');
                    $("#md_bg_img_container").attr("style", "background:url(" + albumJacket + ");background-size: cover;background-position: center 50%;");
                    
                    // jacket-album
                    $("#md-header_albumImg").empty('');
                    $("#md-header_albumImg").attr("src", songJacket);
                    
                    // youtube
                    $("#md_song_youtube").empty('');
                    $("#md_song_youtube").attr("src", "https://www.youtube.com/embed/" + youtube);
                    
                    // title
                    $("#md-song_title").empty('');
                    $("#md-song_title").append(title);
        
                    // tjNum
                    $("#md-song_tjnum").empty('');
                    $("#md-song_tjnum").append(tjnum);
        
                    // artist.name
                    $("#md_song_artist").empty('');
                    $("#md_song_artist").append('<img src="/images/icon/inModalSingerIcon.png" class="header_icon-singer">' + artistName);
        
                    // album.title
                    $("#md-song_album").empty('');
                    $("#md-song_album").append('<img src="/images/icon/inModalAlbumIcon.png" class="header_icon-album">' + "Vol. " + albumName);
        
                    // album.released_date
                    $("#md_song_released").empty('');
                    $("#md_song_released").append(release);
        
                    // album.agency
                    $("#md_song_agency").empty('');
                    $("#md_song_agency").append(agency);
        
                    // album.publisher
                    $("#md_song_publisher").empty('');
                    $("#md_song_publisher").append(publisher);
        
                    // album.songs.count
                    $("#count_count").empty('');
                    $("#count_count").append(i);
                    
                    $("#md_song_album_in_title1").empty('')
                    
                    $.each(songs, function(index, item) {
                        // alert(item.title);
                        j = index + 1;
                        //  $("#md_song_album_in_title1").empty('');
                         $("#md_song_album_in_title1").append('<div class="album_song">' + j + '. ' + item.title + '</div>' + '<div class="album_singer">' + artists[index] + '</div><br>'); 
                        //  $("#md_song_album_in_artist" + j).empty(''); $("#md_song_album_in_title" + j).append();
                    });
                    
                    // lyrics
                    $("#md_song_lyrics").empty('');
                    $("#md_song_lyrics").append("<pre id=\"lyrics_tag\">" + lyrics + "</pre>");
                    //   $("#md_bg_img_container").empty('');
                    //   $("#md_bg_img_container").append( "<img src=\"" + jacket + "\" style=\"width:30%; height:auto;\">" + "<br>");
                });
            };
        
        
        })(jQuery);
        
    </script>
    <!--song card general css-->
    <link href="/home/song_card_general.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body id="page-top" class="index">
    <!--홈 헤더 : 최 상단 네비게이셔닝-->
    <%= render partial: "home/home_layouts/navbar", layout: false %>

    <%= yield %>

    <%= render partial: "home/home_layouts/footer", layout: false %>

</body>
</html>
